<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Planes</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Nuevo plan</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Disciplina: </label>  
                    <select class="inputForm3" [(ngModel)]="plan.disciplinaIdFk">
                        <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                          {{disciplina.disciplinaNombre}}
                        </option>
                    </select>  
                     
                  </div>
                  
                  <div class="divContenedor3">
                    <label class="labelForm3">Número de días a la semana</label>  
                    <input placeholder="Recurrencia" type="number" class="inputForm3" [(ngModel)]="plan.planRecurrencia">  
                  </div>
                <div class="divContenedor3">
                    <label class="labelForm3">Importe: </label>  
                    <input placeholder="Importe" type="number" class="inputForm3" [(ngModel)]="plan.planImporte">  
                  </div>
                  
                  
            </div>
            
            <br>
            <div class="row" >
               
                <div class="divContenedor3des">
                    <label class="labelForm3des">Descripciòn del plan:</label>  
                    <input placeholder="Descripción" class="inputForm3des" [(ngModel)]="plan.planDescripcion">  
                  </div>
           
                  <div class="divContenedor3" style="text-align: right;">
                    <label class="labelForm3"> </label>  
                    <label ><button (click)="setPlan()" >Guardar</button></label>
                    <label ><button (click)="reset()" *ngIf="visibleCancelar === 0" >Cancelar</button></label>
                  </div>
            </div>
            <br>
        </div>
    </div>
    
    <br>
    
    
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <input (ngModelChange)="buscarPlan()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 12.5%;">
                    <col span="1" style="width: 12.5%;">
                    
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Número de dias a la semana
                    </th>
                    <th>
                        Importe
                    </th>
                    <th>
                        Estatus
                    </th>
                
                    <th>
                        Acciones
                    </th>
                    <th>
                        Activar
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let plan of arrayPlanesShow" >
                    <td >{{plan.planDescripcion}}</td>
                    <td >{{plan.planRecurrencia}}</td>
                    <td >{{plan.planImporte}}</td>
                    <td >{{plan.planActivo}}</td>
                    <td > <button (click)="btnEditar(plan)">Editar</button></td>
                    <td ><mat-slide-toggle  (change)="desactivarActivarPlan(plan)" [(ngModel)]="plan.isActive"></mat-slide-toggle></td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div>
    
    
    
    
</div>