<app-menu [usrData]="permisos"></app-menu>

<div class="divCategoria">

    <h1 class="">RENTAS </h1>
       
    <div class="jumbotron">
        <h1 class="display-4">Equipo: {{eInfo[0].equipoNombre}} </h1>
        <p class="lead">REPRESENTANTE: {{this.eInfo[0].equipoRepresentante}}</p> 
        <p class="lead">TELÉFONO: {{this.eInfo[0].equipoRepresentanteTelefono}}</p>           
    </div>

    <form>              

        <div class="form-row">
            <div class="col-5">
                <select [(ngModel)]="ParcialidadRenta.TipoDePago" class="form-control" name="TipoDePago" id="TipoDePago" aria-label="Default select example">
                    <option selected>Tipo de pago...</option>
                    <option value="Transferencia">Transferencia</option>
                    <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                    <option value="Tarjeta de débito">Tarjeta de débito</option>
                    <option value="Depósito Bancario">Depósito Bancario</option>
                    
                  </select>
            </div>
            <div class="col">
                <input [(ngModel)]="eInfo[0].equipoImporte" type="text" name="monto" id="monto" class="form-control" placeholder="Monto..." readonly>
            </div>
            <div class="col">
                <input [(ngModel)]="ParcialidadRenta.parcialidadImporte" (keypress)="numberOnly($event)"  (blur)="transformAmount($event)" type="text" name="parcialidadImporte"  id="parcialidadImporte" class="form-control" placeholder="Importe depositado...">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-5">
                <input [(ngModel)]="ParcialidadRenta.folioDePago" type="text" name="folioDePago" id="folioDePago" class="form-control" placeholder="Folio...">
            </div>
            <div class="col">
                <!-- <input type="text" id="monto" class="form-control" placeholder="Monto..."> [(ngModel)]="fechaPagoParcialidad1" max="{{todaysdate|date:'yyyy-MM-dd'}}"-->
                <input [(ngModel)]="ParcialidadRenta.fechaDeReciboDePago" type="date" name="fechaDeReciboDePago" id="fechaDeReciboDePago" class="form-control" placeholder="Fecha de pago" max="{{todaysdate|date:'yyyy-MM-dd'}}">
            </div>
            <div class="col">
                <input [(ngModel)]="ParcialidadRenta.cuentaBeneficiaria" type="text" name="cuentaBeneficiaria" id="cuentaBeneficiaria" class="form-control" placeholder="Cuenta beneficiaria...">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-5">
                <input [(ngModel)]="ParcialidadRenta.conceptoDePago" type="text" name="conceptoDePago" id="conceptoDePago" class="form-control" placeholder="Concepto de pago..." readonly value="Renta">
            </div>            
        </div>
        <br>
        <div class="form-row">            
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Observaciones de pago</span>
                </div>
                <textarea [(ngModel)]="ParcialidadRenta.observaciones" name="observaciones" id="observaciones" class="form-control" aria-label="With textarea" placeholder="Escribe el mes que se está pagando u otras observaciones..."></textarea>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-6">
                <div class="pull-left">
                    <button (click)="pagar()" type="button" class="btn btn-info">Pagar</button>
                </div>
            </div>
            <div class="col-6">
                <div class="pull-right">
                    <button (click)="regresar()" type="button" class="btn btn-warning">Regresar</button>
                </div>  
            </div>                              
        </div>
                                             
    </form>
</div>

