<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Reporte de instructores</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Filtros</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Disciplina: </label>  
                    <select  class="inputForm3" (change)="cambioFiltros()" [(ngModel)]="idDisciplinaFiltro" >
                        <option value="0">
                            seleccionar...
                          </option>
                        <option *ngFor="let disciplina of arrayDisciplinasActivas" [value]="disciplina.disciplinaId">
                            {{disciplina.disciplinaNombre}}
                          </option>
                    </select>  
                     
                  </div>
                  
                  <div class="divContenedor3">
                    <label class="labelForm3">Instructor: </label>  
                    <select class="inputForm3" (change)="cambioFiltros()" [(ngModel)]="idIntructorFiltro" >
                        <option value="0">
                            seleccionar...
                          </option>
                        <option *ngFor="let instructor of arrayInstructoresActivos" [value]="instructor.instructorId">
                            {{instructor.instructorNombre}} {{instructor.instructorApellidoPaterno}} {{instructor.instructorApellidoMaterno}}
                          </option>
                    </select>  
                     
                  </div>
           
                  
                  
            </div>
            
            <br>
           
            <br>
        </div>
    </div>
    
    <br>
    
    
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <button class="inputBusqueda" (click)="downloadReporte()">Descargar reporte</button>
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 35%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 20%;">
                    
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre del instructor
                    </th>
                    <th>
                        Disciplina
                    </th>
                    <th>
                        Día/Horario
                    </th>
                    <th>
                        Horas semanales
                    </th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let instructor of arrayInstructoresShow" >
                    <td >{{instructor.instructorNombre}} {{instructor.instructorApellidoPaterno}} {{instructor.instructorApellidoMaterno}}</td>
                    <td ><label *ngIf="showTD != 0">{{instructor.disciplinaNombre}}</label></td>
                    <td ><label *ngIf="showTD != 0">{{instructor.horarioDias}}/{{instructor.horarioInicio}} - {{instructor.horarioFin}}</label></td>
                    <td >{{instructor.TotalHoras}}</td>
                   
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div>
    
    
    
    
</div>