<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Reporte alumnos por disciplina</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Filtros</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor1">
                    <label class="labelForm3">Disciplina: </label>  
                    <select (change)="getAlumnosDisciplinas()" class="inputForm3" [(ngModel)]="disciplinaId">
                        <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                          {{disciplina.disciplinaNombre}}
                        </option>
                    </select>  
                  </div>
            </div>
            
            <br><br>           
            <br>
        </div>
    </div>
    
    <br>

    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <button class="inputBusqueda" (click)="downloadReporte()" >Descargar reporte</button>
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 35%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 45%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Alumno
                    </th>
                  
                    <th>
                        Disciplina
                    </th>
                    <th>
                        Plan
                    </th>
       
                   
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let ar of arrayResultadosReporte" >
   
                    <td >{{ar.nombre}} </td>
                    <td ><label>{{ar.disciplinaNombre}}</label></td>
                    <td ><label>{{ar.plan}}</label></td>
    
                </tr> 
              </tbody>
            </table>
          </div>
       </div>
   </div> -

    
    
    
</div>