<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Horarios</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Nuevo horario</label>
         
         
        <br>
        
        
        
        
        <div style="padding: 3%;">
          
        
          <div class="row" >
            <div class="divContenedor3">
              <label class="labelForm3">Disciplina: </label>  
              <select (change)="showFiltros()" class="inputForm3" [(ngModel)]="horario.disciplinaIdFk">
                <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                  {{disciplina.disciplinaNombre}}
                </option>
            </select>  
            </div>
            
              <div class="divContenedor3">
                  <label class="labelForm3">Instructor </label>  
                  <select class="inputForm3" [(ngModel)]="horario.instructorIdFk">
                      <option *ngFor="let instructor of arrayInstructores" [value]="instructor.instructorId">
                        {{instructor.instructorNombre}} {{instructor.instructorApellidoPaterno}} {{instructor.instructorApellidoMaterno}}
                      </option>
                  </select>  
                </div>
          
             
                <div class="divContenedor3">
          
                  <label class="labelForm3">Categoria: </label>  
                  <select class="inputForm3" [(ngModel)]="horario.categoriaIdFk">
                    <option *ngFor="let categoria of arrayCategorias" [value]="categoria.categoriaId">
                      {{categoria.categoriaNombre}} - {{categoria.categoriaEdadRango1}} años a {{categoria.categoriaEdadRango2}} años
                    </option>
                </select>  
                </div>
          </div>
          
          
          <br>
          
          
          
          
            <div class="row" >
              <div class="divContenedor3">
                <label class="labelForm3">Gimnasio: </label>  
                <select (change)="showFiltros()" class="inputForm3" [(ngModel)]="horario.gimnasioIdFk">
                  <option *ngFor="let gimnasio of arrayGimnasios" [value]="gimnasio.gimnasioId">
                    {{gimnasio.gimnasioNombre}}
                  </option>
              </select>  
                </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Horario de inicio:</label>  
                    <input [(ngModel)]="horario.horarioInicio" type="time" class="inputForm3"> 
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Horario de fin:</label>  
                    <input [(ngModel)]="horario.horarioFin" type="time" class="inputForm3">  
                  </div>
            </div>
            
            <br>
            <div class="row" >
                <div class="divContenedor1">
                  <label class="labelForm3">Días: </label>  
                  <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="lunes">Lunes</mat-checkbox>
                  <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="martes">Martes</mat-checkbox>
                  <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="miercoles">Miercoles</mat-checkbox>
                  <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="jueves">Jueves</mat-checkbox>
                  <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="viernes">Viernes</mat-checkbox>
                  <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="sabado">Sabado</mat-checkbox>
                  <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="domingo">Domingo</mat-checkbox>
                   
                  </div>
               
                  <div class="divContenedor3">
                    <label class="labelForm3">Turno:</label>  
                    <select class="inputForm3" [(ngModel)]="horario.horarioTurno">
                      <option  value="Matutino">
                        Matutino
                      </option>
                      <option  value="Vespertino">
                        Vespertino
                      </option>
                  </select>  
                  </div>
            </div>
            <br>
            
        
     
            <br>
            <div class="row" >
         
              <div class="divContenedor3">
                <label class="labelForm3">Aforo:</label>  
                <input [(ngModel)]="horario.horarioAforo"  type="number"  class="inputForm3" placeholder="Aforo" >  
              </div>  
                <div class="divContenedor3">
       
                </div>
                <div class="divContenedor3" style="text-align: right;">
                    <label class="labelForm3"> </label>  
                    <label ><button (click)="setHorario()" >Guardar</button></label>
                    <label ><button *ngIf="visibleCancelar === 0" (click)="reset()" >Cancelar</button></label>
                </div>
          </div>
        </div>
    </div>
    
    <br>
    
    
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Horarios</label>
   
        </div>

       <div>
        <div [ngSwitch]="view">
        <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="eventsShow"
    [refresh]="refresh"
    [locale]="locale"
    [dayStartHour]="dayStartHour" 
    [dayEndHour]="dayEndHour"

  >
  </mwl-calendar-week-view>
</div>
    <!--    <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 12.5%;">
                    <col span="1" style="width: 12.5%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
             
                    <th>
                      Días
                    </th>
                    <th>
                     Horas
                    </th>
                    <th>
                      Activo
                    </th>
                
                    <th>
                        
                    </th>
                    <th>
                        
                    </th>
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let horario of arrayHorarios" >
                    <td>{{horario.horarioNombre}}</td>
                    <td>{{horario.horarioDias}}</td>
                    <td>{{horario.horarioInicio}} - {{horario.horarioFin}}</td>
                    <td>{{horario.horarioActivo}}</td>
                    
                    <td > <button (click)="btnEditar(horario)">Editar</button></td>
                    <td ><mat-slide-toggle (change)="activarDesactivar(horario)"  [(ngModel)]="horario.isActive"></mat-slide-toggle></td>
                </tr>
                
              </tbody>
            </table>
          </div>-->
       </div>
   </div>
</div>
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Eliminar horario</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ¿Seguro que quieres eliminar el Horario de {{ deleteModalNombre }} con hora de inicio {{deleteModalHoraInicio}} y hora de fin {{deleteModalHoraFin}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activarDesactivar()">
      OK
    </button>
  </div>
</ng-template>
