<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Reporte de asistencia de profesores</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Filtros</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor1">
                    <label class="labelForm3">Profesor: </label>  
                    <select class="inputForm3" [(ngModel)]="instructorId">
                        <option *ngFor="let instructor of arrayInstructores" [value]="instructor.instructorId">
                          {{instructor.instructorNombre}} {{instructor.instructorApellidoPaterno}} {{instructor.instructorApellidoMaterno}}
                        </option>
                    </select>  
                  </div>
            </div>
            
            <br><br>
            
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Del: </label>  
                    <input [(ngModel)]="fecha1" type="date"   class="inputForm3">
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">al: </label>  
                    <input [(ngModel)]="fecha2" type="date"   class="inputForm3">
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3"> </label>  
                    <button (click)="getAsistenciasInstructores()" >Buscar</button>
                  </div>
                  
            </div>             
            <br>
        </div>
    </div>
    
    <br>

    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <button class="inputBusqueda" (click)="downloadReporte()" >Descargar reporte</button>
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 30%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Instructor
                    </th>
                  
                    <th>
                        Fecha de entrada
                    </th>
                    <th>
                        Fecha de salida
                    </th>
                                
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let ar of arrayResultadosReporte" >
   
                    <td >{{ar.nombre}} </td>
                    <td ><label>{{ar.entradah}}</label></td>
                    <td ><label>{{ar.salidah}}</label></td>
    
                </tr> 
              </tbody>
            </table>
          </div>
       </div>
   </div> -

    
    
    
</div>