.divCategoria{
    min-width: 85%;
    max-width: 85%;
    margin-left: 15%;
    padding: 10px;
    background-image: url("../../assets/images/backback.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}


.divFormulario{

    min-width: 90%;
    max-width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    background-color: white;
    box-shadow: rgba(0,0,0,0.30) 10px 10px 10px 2px;
}


.tituloFormulario{
    background: linear-gradient(70deg, #a0d9ea, #29abe2);
    color: black;
    min-width: 100%;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}


.divContenedor3{
    min-width: 32.3%;
    max-width: 32.3%;
    margin-right: 1%;
}

.divContenedor2{
    min-width: 49%;
    max-width: 49%;
    margin-right: 1%;
}


.labelForm3{
    min-width: 100%;
}

.inputForm3{
    border-radius: 10px;
    border: 1px solid black;
    min-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}


mat-slider {
    min-width: 100%;
    
  }

:host ::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #29a151 !important;
}

:host ::ng-deep .mat-slider-thumb-label {
    background-color: #29a151 !important;

}

:host ::ng-deep .mat-slider-thumb {
    background-color: #29a151 !important;
}

.tableFixHead          { overflow: auto; height: 250px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 10; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     {   background:  #a0d9ea}

.divContainerTable{    
    min-width: 90%;
    max-width: 90%;
    border-radius: 10px;
    margin-left: 5%;
}

.tituloBusqueda{
    min-width: 100%;
    max-width: 100%;
}


.tituloTabla{
    min-width: 70%;
    max-width: 70%;
}

.inputBusqueda{
    min-width: 30%;
    max-width: 30%;
}

.btnCancelar{
    margin-left: 5%;
}



:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #29a151;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(13, 87, 13) ;
    z-index: -10000;
}


.h1titulo{
    color: white;
    max-width: 50%;
    min-width: 50%;
    margin-left: 24%;
    text-align: center;
}


button{
    background-color: #a0d9ea;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

