<app-menu [usrData]="permisos"></app-menu>
<div class="divCategoria" >
    <h1 class="h1titulo">Rentas</h1>
      <br>   
      <app-rentas-alta *ngIf="parentMessage != '0'" (messageEvent)="receiveMessage($event)" [childMessage]="parentMessage" ></app-rentas-alta>
      <app-rentas-modificacion *ngIf="parentMessage1 != '0'" (messageEvent)="receiveMessage($event)" [childMessage1]="parentMessage1" > </app-rentas-modificacion>  
      
      <br>
      <div class="divContainerTable" *ngIf="isVisibleRentas">

          <div class="tituloBusqueda">
              <h1>LISTA DE EQUIPOS</h1>
              <!-- <input (ngModelChange)="buscarCategoria()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar..."> -->
          </div>
  
         <div>
          
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span>
            <input type="text" (keyup)="buscarEquipo($event)"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          
          <div class="tableFixHead">
              <table>
                  <colgroup>
                      <col span="1" style="width: 5%;">
                      <col span="1" style="width: 20%;">
                      <col span="1" style="width: 30%;">
                      <col span="1" style="width: 20%;">
                      <col span="1" style="width: 20%;">
                      <col span="1" style="width: 20%;">
                      <col span="1" style="width: 20%;">
                   </colgroup>
                <thead>
                  <tr>
                      <th>
                          EquipoId
                      </th>

                      <th>
                          Nombre
                      </th>

                      <th>
                          Representante
                      </th>

                      <th>
                         Teléfono
                      </th>   
                    
                      <th>
                          Acciones
                      </th>
                      <th>
                        Desactivar
                      </th>
                      <th>
                        Pagar Renta
                      </th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of EquipoInfo" >
                      <td >{{e.equipoId}}</td>
                      <td >{{e.equipoNombre}}</td>
                      <td >{{e.equipoRepresentante}}</td>
                      <td>{{e.equipoRepresentanteTelefono}}</td>
                      
                      <td > <button (click)="btnEditar(e)">Editar</button></td>
                      <td ><mat-slide-toggle (change)="activarDesactivar(e)" [(ngModel)]="e.isActive"></mat-slide-toggle></td>
                      <td > <button (click)="pagar(e)">Pagar</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
         </div>
         <br>
         <br>
         <button class="btn" type="button" (click)="nuevoEquipo()">Nuevo equipo</button>
         
     </div>    
</div>

  