<app-menu [usrData]="permisos"></app-menu>

<div class="divContenedorGuardia" [ngStyle]="{'filter':blurApply === 0 ? 'blur(0px)' : 'blur(10px)' }">
    <div class="divHora">
        <label><strong>{{fecha}} <br>Hora: {{hora}}</strong></label><br>
        

   
    </div>
    
   <div class="row">
       <div [@openClose]="isOpen ? 'open' : 'closed'"  [ngStyle]="{'background-color':alumno.acceso === true ? '#39c088' : '#e44c65' }">
            <h3>DATOS DEL AFILIADO</h3>
           <div class="divImg">
               <img style="min-width: 100%; max-width: 100%; border-radius: 50%;" [src]="showImg">
           </div>
           <div class="divInfo">
            {{alumno.alumnoNombre}}
               <br>
               <label><strong>{{alumno.mensaje}}</strong></label>
               <br>
               <label><strong></strong></label>
               <br>
               <br>
               <br>
           
           </div>
            <div class="row divContenedorInfoTutores">
                <!-- <div class="divContenedorTutores">
                    <span>Tutores: </span>
                    <img class="imgTutor" src="assets/images/icon_people.jpg">
                    <img class="imgTutor" src="assets/images/icon_people.jpg">
                    <img class="imgTutor" src="assets/images/icon_people.jpg">
                </div>
                <div class="divBtnInfo">
                    <button class="btnInfo"><h3>i</h3></button>
                </div> -->
            </div>
            <br>
        </div>
        <div [@openClose]="isOpen ? 'open2' : 'closed2'">
            <h3>HISTORIAL DE ACCESOS</h3>   
            <div class="divFiltros">
      
        
                <label>Buscar:</label>
                <!-- <input class="inputBusqueda" placeholder="Nombre"> -->
                <input [matAutocomplete]="auto2" (ngModelChange)="busquedaAlumno($event)" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">                
                <mat-autocomplete  (change)="selectedAlumno($event)" #auto2="matAutocomplete">
                    <mat-option (click)="selectedAlumno(alumno)" *ngFor="let alumno of alumnosResultInfo" [value]="alumno.nombre">
                      {{alumno.nombre}} {{alumno.alumnoCURP}} {{alumno.alumnoFechaDeNacimiento}}
                </mat-option>
                </mat-autocomplete>

                <br>
                <label>Deporte: </label>
                <select [(ngModel)]="disciplinaObj.disciplinaId" (ngModelChange)="asignarDisciplina(disciplinaObj.disciplinaId)">
                    <option value="0">Seleccionar disciplina...</option>
                    <option *ngFor="let d of disciplinasInfo" [value]="d.disciplinaId">{{d.disciplinaNombre}}</option>
                </select>
                <br>
                <label>Fecha: </label>
                <!-- <input placeholder="Fecha de nacimiento" [(ngModel)]="objAbuscar.fechaInicio" type="date" class="inputForm3" max="{{todaysdate|date:'yyyy-MM-dd'}}">   -->
                <input class="inputFecha" type="date" [(ngModel)]="objAbuscar.entradasalidaFechaEntrada" max="{{todaysdate|date:'yyyy-MM-dd'}}" > al 
                <input class="inputFecha" type="date" [(ngModel)]="objAbuscar.entradasalidaFechaSalida" max="{{todaysdate2|date:'yyyy-MM-dd'}}">
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-info" (click)="btnLimpiar()">Limpiar</button>
                </div>

                <div class="col-lg-6">
                    <button type="button" class="btn btn-success" (click)="buscarEntradaSalida()">Buscar</button>
                </div>                
            </div>
            <br>
          <div>
            <table>
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 5%;">
                 </colgroup>         
                    <tr>
                        <th>Nombre</th>
                        <th>Deporte</th>
                        <th>Entrada/Salida</th>
                        <th>Información</th>                  
                    </tr>
         
            </table>
           
        <div class="scrollTable">
            <table>
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 5%;">
                 </colgroup>
                    <tbody>
                        <tr  *ngFor="let registros of arrayShow">
                            <td class="filaTablaInit">{{registros.alumnoNombre}} {{registros.alumnoApellidoPaterno}} {{registros.alumnoApellidoMaterno}}</td>
                            <td class="filaTablaMedio">{{registros.disciplinaNombre}}</td>
                            <td [ngStyle]="{'color': !registros.isExit  ?  '#e09b06' : 'black' }" class="filaTablaMedio horario2">{{registros.entradasalidaFechaEntrada}}
                                {{registros.entradasalidaFechaSalida}}
                            </td>
                            <td class="filaTablaEnd" style="text-align: center;"><img (click)="verMas(content, registros)" class="iconInfo" src="assets/images/informacion.png"></td>
                        </tr>
                      
                    </tbody>
              </table>
            </div>
          </div>
        </div>
   </div>
   <div>
<br>
      <div class="row">
        <div class="viewDivCamara">
            <!--Camara accesso-->
            <label class="labelCamara">camara de entrada</label>
   
                <mat-select [value]="deviceSelected" (valueChange)="onDeviceSelectChange($event)">
                  <mat-option value="" >No Device Selected</mat-option>
                  <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId">{{device.label}}</mat-option>
                </mat-select>
 
            
            <zxing-scanner   [torch]="torchEnabled" [device]="deviceCurrent" (deviceChange)="onDeviceChange($event)" (scanSuccess)="onCodeResult($event)"
             (permissionResponse)="onHasPermission($event)"
            (camerasFound)="onCamerasFound($event)">
            </zxing-scanner>
        </div>
        <div class="viewDivCamara" style="margin-left: 10%;">
            <!--Camara accesso-->
            <label class="labelCamara">camara de salida</label>
             
            <mat-select [value]="deviceSelected2" (valueChange)="onDeviceSelectChange2($event)">
                <mat-option value="" >No Device Selected</mat-option>
                <mat-option *ngFor="let device2 of availableDevices2" [value]="device2.deviceId">{{device2.label}}</mat-option>
              </mat-select>
        
            <zxing-scanner   [torch]="torchEnabled2" [device]="deviceCurrent2" (deviceChange)="onDeviceChange2($event)" (scanSuccess)="onCodeResult2($event)"
             (permissionResponse)="onHasPermission2($event)"
            (camerasFound)="onCamerasFound2($event)">
            </zxing-scanner>
   
        </div>   
            <div>
                <button class="buttonOpenBienvenida" (click)="btnBienvenida()">Iniciar pantalla de ingreso</button>
            </div>
            
            
      </div>
   </div>
   
   
</div>


<ng-template #content let-c="close" let-d="dismiss">
   
    <div class="modal-body backGroundModal">
        <button type="button" class="btnCloseModal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <div class="divImgModal">
                <img style="min-width: 100%; max-width: 100%; border-radius: 50%;"  [src]="showImgModal">
            </div>
            <div class="divPersonalModal">
                <label class="labelNombreModal">{{alumno2.alumnoNombre}} {{alumno2.alumnoApellidoPaterno}} {{alumno2.alumnoApellidoMaterno}}</label>
                <br>
                <div class="row">
                    <div class="divInfoDerecha">
                        <label><strong>Sexo: </strong>{{alumno2.alumnoSexo}}</label><br>
            
                        <div *ngFor="let dis of arrayDisciplinas" ><label><strong>{{dis.disciplinaNombre}}</strong></label><br></div>
                  </div>
                    <!--   <div class="divInfoIzquierda">
                        <label><strong>Fecha de registro</strong> 30 Agosto 2021</label>
                    </div> -->
                </div>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="divDatosMedicos">
                <div class="row divTituloMedicos">
                    <img class="imgIconoMedicos" src="assets/images/farmacia.png">
                    <label class="labeltitulomedicos">DATOS MÉDICOS</label>
                </div>
               <div class="row">
                    <div class="divInfoDerecha">
                        <label><strong>Afiliación médica: </strong>{{alumno2.alumnoAfiliacionMedica}}</label><br>
                        <label><strong>Alergías: </strong>{{alumno2.alumnoAlergias}}</label><br>
                        <label><strong>Padecimientos:</strong>{{alumno2.alumnoPadecimientos}}</label><br>
                        <label><strong>Tipo de sangre:</strong> {{alumno2.alumnoTipoDeSangre}}</label>
                    </div>
                    <div class="divInfoIzquierda">
                        <label><strong>Estatura: </strong>{{alumno2.alumnoEstatura}} M.</label><br>
                        <label><strong>Peso: </strong>{{alumno2.alumnoPeso}} kg</label>
                    </div>
               </div>
                
                
            </div>
            <div class="divDatosContacto">
           
                <div class="row divTituloContacto">
                    <img class="imgIconoContacto" src="assets/images/perfil.png">
                    <label class="labeltitulomedicos">DATOS DE CONTACTO</label>
                </div>
                <div class="divInfo">
                    <label><strong>Correo electrónico: </strong>{{alumno2.alumnoCorreoElectronico}}</label>
                    <label><strong>Tel. casa: </strong>{{alumno2.alumnoTelefonoCasa}}</label><br>
                    <label><strong>Fecha de nacimiento: </strong> {{alumno2.alumnoFechaDeNacimiento}}</label>
                   <div class="row">
                    <div class="divInfoDerecha">
                        <label><strong>CURP: </strong> {{alumno2.alumnoCURP}}</label>
                        <label><strong>Estado: </strong> {{alumno2.alumnoEstado}}</label>
                    </div>
                    <div class="divInfoIzquierda">
        
                        <label><strong>C.p.: </strong> {{alumno2.alumnoCodigoPostal}} </label>
                        <label><strong>Colonia: </strong> {{alumno2.alumnoColonia}}</label><br>
                    </div>
                   </div>
                
                    <label><strong>Calle: </strong> {{alumno2.alumnoCalle}}</label>
                </div>
                
            </div>
        </div>
        
        
    </div>

  </ng-template>