html, 
body {
    min-height: 100% !important;
}


.divContenedorGuardia{
    min-width: 85%;
    max-width: 85%;
    margin-left: 15%;
    padding: 15px;
    background-image: url("../../assets/images/backback.png");
    background-size:100% 100%;
    background-repeat: no-repeat; 

}

.divHora{
    min-width: 100%;
    max-width: 100%;
    text-align: right;
    padding-right: 2%;
    padding-top: 1%;
    
}


.row{
    margin: 0px;
}



.divAccesos{
    text-align: center;
    border-radius: 20px;
    min-width: 45%;
    max-width: 4%;
    background-color: #1854c1;
    margin-top: 2%;
    color: white;
    
}


.divImg{
    min-width: 50%;
    max-width: 50%;
    margin-left: 25%;
}

.divInfo{
    min-width: 50%;
    max-width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}


.imgTutor{
    min-width: 10%;
    max-width: 10%;
    margin-left: 1%;
}



.divContenedorInfoTutores{
    min-width: 96%;
    max-width: 96%;
    margin-left: 2%;
}

.divContenedorTutores{
    min-width: 80%;
    max-width: 80%;
    text-align: left;
}

.divBtnInfo{
    min-width: 20%;
    max-width: 20%;
    text-align: right;
}


.btnInfo{
    
    background-color: #29a178;
    min-width: 40%;

    color: white;
    border-radius: 50%;
}
.iconInfo{
    width: 70%;
}


  
  table{
    max-width: 96%;
    min-width: calc(96% - 17px);
    margin-left: 2%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0px 3px;
  }
  
 .divFiltros{
     padding-left: 2%;
     text-align: left;
 } 
     
 
 select{
     min-width: 30%;
     margin-left: 1%;
     background-color: white;
     border-radius: 10px;
     border: 0.2px solid black;
     color: black;
     font-style: italic;
     padding-top: 2px;
     padding-bottom: 2px;
     padding-left: 5px;
     padding-right: 5px;
     margin-bottom: 5px;
 }
 
 .inputBusqueda{
   min-width: 96%;
   background-color: white;
   border-radius: 10px;
   border: 0.2px solid black;
   color: black;
   font-style: italic;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 5px;
   padding-right: 5px;
   margin-bottom: 5px;
 }
 
.inputFecha{
    margin-left: 1%;
    background-color: white;
    border-radius: 10px;
    border: 0.2px solid black;
    color: black;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}
 
.scrollTable{
    min-width: 96%;
    max-height: 280px;
    overflow-y: auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
  
  .filaTablaInit{
      background-color: #2b8ccc;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;

      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
  }

  .filaTablaMedio{
    background-color: #2b8ccc;
  }
    
  .filaTablaEnd{
    background-color: #2b8ccc;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
  }
  
  .horario{
      /*color: black;*/
      font-size: 1vw;
  }
  
    
  .horario2{
   /* color: #e09b06;*/
    font-size: 1vw;
}



.backGroundModal{
    background-color: #4573c7;
}

.btnCloseModal{
  background-color: transparent;
  border: none;
  color: white;  
  right: 0;
  min-width: 3%;
  max-width: 3%;
  margin-left: 97%;
  margin-bottom: 2%;
}

.divImgModal{
    min-width: 29%;
    max-width: 29%;
}

.divPersonalModal{
    min-width: 69%;
    max-width: 69%;
    margin-left: 2%;
    background-color: white;
    border-radius: 10px;
}

.labelNombreModal{
    background-color: #29a151;
    color: black;
    min-width: 100%;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

.divDatosMedicos{
    border-radius: 10px;
    min-width: 49%;
    max-width: 49%;
    margin-right: 2%;
    background-color: white;
}


.divDatosContacto{
    border-radius: 10px;
    min-width: 49%;
    max-width: 49%;
    background-color: white;
}


.divTituloMedicos{
    background-color: #e09b06;
    border-radius: 10px;   
}

.imgIconoMedicos{
    margin-left: 2%;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 8%;
    border-radius: 50%;
    background-color: #b2831d;   
}

.labeltitulomedicos{
    min-width: 80%;
    max-width: 80%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.divTituloContacto{
    background-color: #e06d06;
    border-radius: 10px;   
}

.imgIconoContacto{
    margin-left: 2%;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 8%;
    border-radius: 50%;
    background-color: #a25511;   
}

.divInfoDerecha{
    min-width: 48%;
    max-width: 48%;
    margin-left: 1%;
    margin-right: 2%;
}

.divInfoIzquierda{
    min-width: 48%;
    max-width: 48%;
}


.divInfo{
    margin-left: 1%;
    min-width: 98%;
    max-width: 98%;
}

.viewDivCamara{
    min-width: 20%;
    max-width: 20%;
}

.labelCamara{
    font-size: 10px;
}

.buttonOpenBienvenida{
    background-color: #a0d9ea;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}
