<div class="rentasAlta">
  <h1>REGISTRO DE NUEVO EQUIPO</h1>
    <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="changedTab($event)" animationDuration="1000ms" mat-align-tabs="center">
        <mat-tab label="Equipo">
            <br>
            <div class="row" >        
                  <div class="divContenedor3">
                    <label class="labelForm3">Nombre del equipo: </label>  
                    <input placeholder="Nombre del equipo" class="inputForm3"[(ngModel)]="equipo.equipoNombre" >  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Gimnasio: </label>  
                    <select class="inputForm3" [(ngModel)]="equipo.gimnasioId" (change)="getHorariosGim()">
                        <option *ngFor="let gimnasio of arrayGimnasios" [value]="gimnasio.gimnasioId" >
                          {{gimnasio.gimnasioNombre}}
                        </option>
                    </select>
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Disciplina: </label>  
                    <select class="inputForm3" [(ngModel)]="equipo.disciplinaId">
                        <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                          {{disciplina.disciplinaNombre}}
                        </option>
                    </select>  
                  </div>                                                  
            </div>
            <br>
            <div class="row">
              <div class="divContenedor3">
                <label class="labelForm3">Importe: </label>  
                <input placeholder="Importe" type="number" class="inputForm3" (keypress)="numberOnly($event)" [(ngModel)]="equipo.importe" >  
              </div>
            </div>
            
            <br>
            <div class="divDias">
              <div class="row"  >
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="domingo">Domingo</mat-checkbox>
                <label class="example-margin check" style=" text-align: center;" color="primary" >De</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioDomingo">
                <label class="example-margin check" style="text-align: center;" color="primary" >a</label>
                <input class="example-margin check"   color="primary" type="time" [(ngModel)]="horaFinDomingo">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="lunes">Lunes</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioLunes" >
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinLunes">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="martes">Martes</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioMartes">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinMartes">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="miercoles">Miercoles</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioMiercoles">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinMiercoles">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="jueves">Jueves</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioJueves">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinJueves">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="viernes">Viernes</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioViernes">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinViernes">
              </div>
              
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="sabado">Sabado</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioSabado">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinSabado">

              </div>

              
            </div>
            
            
            <br>
                <div class="row" >
                    <div class="divContenedor1">  
                    <label class="example-margin check" style="text-align: center;" color="primary"></label>
                    <label class="example-margin check" style="text-align: center;" color="primary"><button (click)="aceptarPrimerTab()">Aceptar</button></label>
                    
                    <label class="example-margin check" style="text-align: center;" color="primary"></label>
                    <label class="example-margin check" style="text-align: center;" color="primary"><button (click)="cancelarOcultar()">Cancelar</button></label>
                  
                    <label class="example-margin check" style="text-align: center;" color="primary"></label> 
                  </div>
                </div>
            <br>
            <div [ngSwitch]="view">
                <mwl-calendar-week-view
                    *ngSwitchCase="CalendarView.Week"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    [locale]="locale"
                    [dayStartHour]="dayStartHour" 
                    [dayEndHour]="dayEndHour">
                </mwl-calendar-week-view>
            </div>
            
            <!-- <p>Say "{{ childMessage }}"</p>
            <button (click)="sendMessage()">Send Message</button> -->
            
        </mat-tab>
        <mat-tab label="Integrantes">
            <br>
            <div class="row" >        
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre del integrante: </label>  
                    <input placeholder="Nombre" class="inputForm3" [(ngModel)]="integrante.integranteNombre">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido paterno: </label>  
                    <input placeholder="Apellido paterno" class="inputForm3" [(ngModel)]="integrante.integranteApellidoPaterno">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido materno: </label>  
                    <input placeholder="Apellido materno" class="inputForm3" [(ngModel)]="integrante.integranteApellidoMaterno">  
                  </div>
            </div>
            <br>
            <div class="row" >        
                <div class="divContenedor3">
                    <label class="labelForm3">CURP: </label>  
                    <input placeholder="CURP" class="inputForm3" type="text" [maxlength]="18" [(ngModel)]="integrante.integranteCURP">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Teléfono (solo el representante): </label>  
                    <input placeholder="Teléfono" type="text" (keypress)="numberOnly($event)"  [maxlength]="10" class="inputForm3" [(ngModel)]="integrante.integranteTelefono">  
                  </div>
                  <div class="divContenedor3" style="text-align: right;">   
                    <label class="labelForm3"> </label>  
                    <label><button (click)="agregarIntegrantes()" >Guardar</button></label>
                    <label><button (click)="btnCancelar()">Cancelar</button></label>
                  </div>
            </div>
            
            <br>
            <div class="divContainerTable">
     
                <div class="tituloBusqueda">
                    <label class="tituloTabla">Integrantes</label>
                    <!-- <input (ngModelChange)="buscarCategoria()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar..."> -->
                </div>
        
               <div>
                
                <div class="tableFixHead">
                    <table>
                        <colgroup>
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 18%;">
                            <col span="1" style="width: 13%;">
                            <col span="1" style="width: 13%;">
                            <col span="1" style="width: 13%;">
                            <col span="1" style="width: 13%;">
                         </colgroup>
                      <thead>
                        <tr>
                            <th>
                                Nombre del integrante
                            </th>
                            <th>
                                CURP
                            </th>
                            <th>
                                Teléfono
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let integrante of arrayIntegrantes" >
                            <td >{{integrante.integranteNombre}} {{integrante.integranteApellidoPaterno}} {{integrante.integranteApellidoMaterno}}</td>
                            <td >{{integrante.integranteCURP}}</td>
                            <td >{{integrante.integranteTelefono}} 
                              </td>
                            <td > <button >Editar</button></td>
                            <td ><mat-slide-toggle></mat-slide-toggle></td>
                            <td>
                                <ngx-qrcode
                                  id="{{integrante.integranteCURP}}"
                                  value = "{{integrante.integranteValueQR}}"
                                  [width]="50"
                                  (click)="descargarPDF(integrante)"
                                >
                                </ngx-qrcode>
                            </td>
                        </tr> 
                      </tbody>
                    </table>
                  </div>
               </div>
           </div>    
           <button (click)="guardarEquipo()" >Guardar Equipo</button>
            
            
        </mat-tab>
      </mat-tab-group>
</div>


