.rentasAlta{
    min-width: 90%;
    max-width: 90%;
    margin-left: 5%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
}

.divContenedor3{
    min-width: 32.3%;
    max-width: 32.3%;
    margin-right: 1%;
}


.labelForm3{
    min-width: 100%;
}

.inputForm3{
    border-radius: 10px;
    border: 1px solid black;
    min-width: 100%;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.row{
    margin: 0px;
}


.check{
    max-width: 20%;
    min-width: 20%;
    margin-top: 1%;
}


.divContenedor1{
    min-width: 100%;
    max-width: 100%;
}



.tableFixHead          { overflow: auto; height: 250px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 10; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     {   background:  #a0d9ea}

.divContainerTable{    

    min-width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.tituloBusqueda{
    min-width: 100%;
    max-width: 100%;
}


.tituloTabla{
    min-width: 70%;
    max-width: 70%;
}

button{
    background-color: #a0d9ea;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}


.aclass{
    width: 10px;
    max-width: 10px;
    min-width: 10px;
}



.divDias{
    margin-left: 10%;
    min-width: 80%;
    max-width: 80%;
    
}