<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Reporte Financiero</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Filtros</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor1">
                    <label class="labelForm3">Disciplina: </label>  
                    <select class="inputForm3" [(ngModel)]="disciplinaId">
                        <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                          {{disciplina.disciplinaNombre}}
                        </option>
                    </select>                                       
                </div>
            </div>
            <br>
            <div class="row">                
                    <label class="labelForm3">Fecha de inicio </label>  
                    <input placeholder="Fecha de inicio" [(ngModel)]="fechaInicio" type="date" class="inputForm3" max="{{todaysdate|date:'yyyy-MM-dd'}}">                      
            </div>
            <br>
            <div class="row">                
                <label class="labelForm3">Fecha de fin </label>  
                <input placeholder="Fecha de fin" [(ngModel)]="fechaFin" type="date" class="inputForm3" max="{{todaysdate|date:'yyyy-MM-dd'}}">                                         
            </div>
            <br>
            <div class="row">
                <button class="inputBusqueda" (click)="Buscar()" >Buscar</button>
            </div>
            <br><br>           
            <br>
        </div>
    </div>
    
    <br>

    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <button class="inputBusqueda" (click)="downloadReporte()" >Descargar reporte</button>
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Alumno
                    </th>
                    <th>
                        Disciplina
                    </th>

                    <th>
                        Mensualidad mas recargos
                    </th>
                    <th>
                        Importe Inscripcion
                    </th>
                          
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let ar of ReporteFinancieroInf" >
   
                    <td >{{ar.alumnoNombre}} {{ar.alumnoApellidoPaterno}}  {{ar.alumnoApellidoMaterno}} </td>
                    <td ><label>{{ar.disciplinaNombre}}</label></td>
                    <td ><label>{{ar.mensualidadImporte}}</label></td>
                    <td ><label>{{ar.Inscripcion}}</label></td>                    
    
                </tr> 
              </tbody>
            </table>
          </div>
       </div>
   </div>
            
</div>