<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
    <h1 class="h1titulo">Roles</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Nuevo rol</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre del rol:</label>  
                    <input placeholder="Nombre del rol" [(ngModel)]="rol.rolNombre" class="inputForm3">  
                  </div>
                  
            </div>
            
            <br>
            <div class="row" >
                <div class="divContenedor1">
                    <label class="labelForm1">Permisos: </label>  
                     <!---->
                        <mat-select  [(ngModel)]="permiArray" class="inputForm1" multiple >
                            <mat-option *ngFor="let permiso of arrayPermisos" [value]="permiso.permisosId">{{ permiso.permisosNombre }}</mat-option>
                          </mat-select>
                  </div>
                  
            </div>
            <br>
            <div class="row" >
                <div class="divContenedor3">
           
                  </div>
                  <div class="divContenedor3">
             
                  </div>
                  <div class="divContenedor3" style="text-align: right;">
                    <button (click)="setUpdateRol()">Guardar</button>
                    <button  *ngIf="visibleCancelar === 0" class="btnCancelar"  (click)="btnCancelar()">Cancelar</button>
                  </div>
            </div>

        </div>
    </div>
    
    <br>
    
    
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Roles</label>
            <input (ngModelChange)="buscarRol()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 50%;">
                  
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                
                    <th>
                        Estatus
                    </th>
                
                    <th>
                        Acciones
                    </th>
                    <th>
                        Activar
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rol of  arrayRolesShow">
                    <td>{{rol.rolesNombre}}</td>
                   
                    <td>{{rol.rolesActivo}}</td>
                    <td><button (click)="btnEditar(rol)">Editar</button></td>
                    <td><mat-slide-toggle  (change)="desactivarActivar(rol)" [(ngModel)]="rol.isActive"></mat-slide-toggle></td>
                </tr>
              </tbody>
            </table>
          </div>
        
       </div>
   </div>
    
    
    
    
</div>