<div class="divContenedorLogin">
    <br><br>
    <div class="divForm">
        <label>Usuario: </label><br>
        <input [(ngModel)]="usuario">
        <br><br>
        <label>Contraseña: </label><br>
        <input type="password" [(ngModel)]="pass">
        <br><br>
        <button *ngIf="showButton == true" (click)="login()">Ingresar</button>
        
        <div style="text-align: center;">
            <div *ngIf="showButton == false" class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>
    </div>
</div>