.divContenedorLogin{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url("../../assets/images/backback.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.divForm{
    min-width: 40%;
    max-width: 40%;
    margin-left: 30%;
    box-shadow: rgba(0,0,0,0.30) 10px 10px 10px 2px;
    background-color: white;
    padding: 5%;
    border-radius: 10px;
}

input, label{
    min-width: 70%;
    margin-left: 15%;
}

button{
    min-width: 50%;
    max-width: 50%;
    margin-left: 25%;
}


input{
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

button{
    background-color: #a0d9ea;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}