<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Aforo por disciplina</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Filtros</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor1">
                    <label class="labelForm3">Disciplina: </label>  
                    <select (change)="getAlumnosDisciplinas()" class="inputForm3" [(ngModel)]="disciplinaId">
                        <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                          {{disciplina.disciplinaNombre}}
                        </option>
                    </select>  
                  </div>
            </div>
            
            <br><br>
            
           
   
            
   
            <br>
        </div>
    </div>
    
    <br>

    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <button class="inputBusqueda" (click)="downloadReporte()" >Descargar reporte</button>
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Disciplna
                    </th>
                  
                    <th>
                        Categoria
                    </th>
                    <th>
                        Instructor
                    </th>
                    <th>
                        Día
                    </th>
                    <th>
                        Hora de inicio
                    </th>       
                    <th>
                        Hora de fin
                    </th>
                    <th>
                        Aforo
                    </th>
                    <th>
                        Disponibilidad
                    </th>
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let ar of arrayResultadosReporte" >
                    <td >{{ar.disciplinaNombre}} </td>
                    <td >{{ar.categoriaNombre}}</td>
                    <td >{{ar.instructor}}</td>
                    <td >{{ar.dia}} </td>
                    <td >{{ar.horarioInicio}}</td>
                    <td >{{ar.horarioFin}}</td>
                    <td >{{ar.aforo}} </td>
                    <td >{{ar.disponibilidad}}</td>
                </tr> 
              </tbody>
            </table>
          </div>
       </div>
   </div> -

    
    
    
</div>