<app-menu [usrData]="permisos"></app-menu>


<div class="divCategoria">

  <h1 class="h1titulo">Categorias</h1>
  <div class="divFormulario">
           
        <label class="tituloFormulario">Nueva categoria</label>
        <br>
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre de la categoria:</label>  
                    <input placeholder="Nombre de categoria" class="inputForm3" [(ngModel)]="categoria.categoriaNombre" >  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">De {{categoria.categoriaEdadRango1}} años </label>  
                    <mat-slider
                    
                    aria-label="unit(s)"
                    step="1"
                    min="0"
                    max="100"
                    [thumbLabel]="true"
                    [(ngModel)]="categoria.categoriaEdadRango1"
                    
                    ></mat-slider> 
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">a {{categoria.categoriaEdadRango2}} años</label>  
                    <mat-slider aria-label="unit(s)"
                    [thumbLabel]="true"
                    step="1"
                    [min]="categoria.categoriaEdadRango1"
                    max="100"
                    [(ngModel)]="categoria.categoriaEdadRango2"
                    ></mat-slider> 
                  </div>
            </div>
            <br>
            <div class="row" >
                  <div class="divContenedor3">
                    <select class="inputForm3" [(ngModel)]="categoria.categoriaTipo">
                      <option value="">
                        Selecciona...
                      </option>
                      <option value="MIXTO">
                        MIXTO
                      </option>
                      <option value="FEMENIL">
                        FEMENIL
                      </option>
                      <option value="VARONIL">
                        VARONIL
                      </option>
                  </select>  
                    
                  </div>
                  <div class="divContenedor3"></div>
                  <div class="divContenedor3" style="text-align: right;">
                    <label class="labelForm3"> </label>  
                    <label ><button (click)="setCategoria()" >Guardar</button></label>
                    <label ><button (click)="btnCancelar()" *ngIf="visibleCancelar === 0" class="btnCancelar" >Cancelar</button></label>
                  </div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Categorias</label>
            <input (ngModelChange)="buscarCategoria()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    
                    
                    
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre de categoria
                    </th>
                    <th>
                        Rango de edad
                    </th>
                    <th>
                        Estatus
                    </th>
                
                    <th>
                        Acciones
                    </th>
                    <th>
                        Activar
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let categoria of arrayCategoriasShow" >
                    <td >{{categoria.categoriaNombre}}</td>
                    <td >de {{categoria.categoriaEdadRango1}} años hasta {{categoria.categoriaEdadRango2}} años</td>
                    <td >{{categoria.categoriaActivo}}</td>
                    <td > <button (click)="btnEditar(categoria)">Editar</button></td>
                    <td ><mat-slide-toggle (change)="activarDesactivar(categoria)" [(ngModel)]="categoria.isActive"></mat-slide-toggle></td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div>      
</div>