
html, body{
    overflow: hidden !important;
    overflow-y: hidden !important;
}
.divAlumno{
    min-width: 100%;
    max-height: 100%; 
    max-height: 100vh; 
    min-height: 100vh;
    background-color: white ;
    overflow: hidden !important;
    overflow-y: hidden;
}

.divInfo{
    min-width: 30%;
    max-width: 30%;
    max-height: 100vh; 
    min-height: 100vh;
    padding-left: 3%;
    padding-top: 5%;
    /*border-right: 30px solid #39c088;/*#e44c65;*/
    /*border-right: 30px solid #e44c65;;*/
}

.divFoto{
    padding: 10%;
    min-width: 70%;
    max-height: 70%;
    max-height: 100vh; 
    min-height: 100vh;
    text-align: center;
   
    background-image: url("../../assets/images/backback.png");
    background-repeat: no-repeat;

}
 .dFoto{
    border-radius: 50%; 
    max-height: 100%; 
    min-height: 100%;
 }

.row{
    padding: 0;
    margin: 0;
}

.labelDiciplinas{
    text-align: center;
    padding: 3px 10px 3px 10px;
    max-width: 48%;
    min-width: 48%;
    margin-right: 2%;
    border: 1px solid black;
    border-radius: 50px /  50px;
    background-color: #EAE1EF;
}

.divItemTutor{
    max-width: 48%;
    min-width: 48%;
    margin-right: 2%;
}


.labelNombretutor{
    max-width: 100%;
    min-width: 100%;
    text-align: center;
}

.divFotoTutor{
    border-radius: 50%;
    max-width: 80%;
    min-width: 80%;
    margin-left: 10%;
}


.contenedorNombre{
    max-width: 120%;
    min-width: 119%;
    background: linear-gradient(70deg, #8acfda, #2b8ccc);
    margin-left: -15% !important;
    margin-top: -27% !important;
    padding:20%;
    transform:skew(-5deg,-5deg);
    border-bottom-right-radius: 30px;
}

.h1Nombre{
    transform:skew(5deg,5deg);

}


/*************************************/
.divSplash{
    background: linear-gradient(70deg, #a0d9ea, #29abe2);
    min-width: 100%;
    max-height: 100%; 
    max-height: 100vh; 
    min-height: 100vh;
    position: absolute;
    z-index: 100;
}


.viewDivCamara{
    min-width: 15%;
    max-width: 15%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.contentC {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  


.divContenedorSplas{
    max-width: 100%;
    min-width: 100%;

    max-height: 100%;
    min-height: 100%;
    opacity: 1;
}

.divPrincipalsplash{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
overflow: hidden;
    
}

.centrado2{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

