<div  [@openClose]="splashShow ? 'open' : 'closed'">
    <!-- <img class="divContenedorSplas" src="assets/images/simage01.jpg"> -->
    
    <!-- carrucel -->
    <div class="divContenedorSplas">
        <ngb-carousel #carousel [interval]="30000">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/10a.jpg" >
                </div>
            </ng-template>
            <ng-template ngbSlide >
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/11a.jpg" >
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/2a .jpg" >
                </div>
            </ng-template>
            
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/3a.jpg" >
                </div>
            </ng-template>
            <ng-template ngbSlide >
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/5a.jpg" >
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/8a.jpg" >
                </div>
            </ng-template>
            
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/9a.jpg" >
                </div>
            </ng-template>
            <ng-template ngbSlide >
                <div class="picsum-img-wrapper">
                  <img width="100%" src="assets/images/acceso/a4.jpg" >
                </div>
            </ng-template>

          </ngb-carousel>   
    </div>
    <!-- viewDivCamara -->
    <div class="contentC" >  
        <zxing-scanner [torch]="torchEnabled2" [device]="deviceCurrent2" (deviceChange)="onDeviceChange2($event)" (scanSuccess)="onCodeResult2($event)"
         (permissionResponse)="onHasPermission2($event)"
        (camerasFound)="onCamerasFound2($event)">
        </zxing-scanner>
    </div>           
</div>

<section class="divAlumno">
    <section class="row">
        <section class="divInfo col" [ngStyle]="{'border-right': alumnoDatos.acceso  ?  '30px solid #39c088' : '30px solid #e44c65' }">
           <div class="contenedorNombre">
            <h1 class="h1Nombre">{{alumnoDatos.alumnoNombre}}</h1>
           </div>
            
            <br>
            <label>Disciplina(s)</label>
            <div class="row">
                <!-- <label *ngFor="let dis of arrayDisciplinas" class="labelDiciplinas">{{dis.disciplinaNombre}}</label> -->

                <!-- <label class="labelDiciplinas">Clavados</label>
                <label class="labelDiciplinas">Clavados</label>
                <label class="labelDiciplinas">Clavados</label> -->
            </div>
            <br>
            <br>
            <br>
            <label>Contacto de emergencia/Tutores</label>
            <div class="row">

                <!-- <div class="divItemTutor" *ngFor="let tutor of arrayTutores" >
                    <img class="divFotoTutor" src="assets/images/icon_people.jpg">
                    <label class="labelNombretutor">{{tutor.tutorNombre}} {{tutor.tutorApellidoPaterno}}</label>
                </div>  -->


               <!-- <div class="divItemTutor">
                   <img class="divFotoTutor" src="assets/images/icon_people.jpg">
                   <label class="labelNombretutor">Victor Tovar</label>
               </div> 
               <div class="divItemTutor">
                <img class="divFotoTutor" src="assets/images/icon_people.jpg">
                <label class="labelNombretutor">Victor Tovar</label>
            </div> 
            <div class="divItemTutor">
                <img class="divFotoTutor" src="assets/images/icon_people.jpg">
                <label class="labelNombretutor">Victor Tovar</label>
            </div>  -->
       

                
            </div>
        </section>
        <section class="divFoto col">
            <img class="dFoto" [src]="showImg">
        </section>
    </section>
</section>
