<div class="containerMenu scrollTable">

    <div class="row decorationUser">
        <div class="imgUser">
            <img width="100%" src="assets/images/user.png">
        </div>
        <div class="txtUser">
            <label>{{correoElectronico}} </label>
        </div>
    </div>

    <div class="divA" *ngFor="let p of permisosLst">
        <a routerLink="{{p.Ruta}}" [queryParams]="{usr:correoElectronico}">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">{{p.Icon}}</mat-icon>

                </div>
                <div>
                    <label class="label"> {{p.permisosNombre}}</label>
                </div>
            </div>
        </a>
    </div>


    <!-- <div class="divA">
        <a routerLink="/usuarios">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">supervisor_account</mat-icon>

                </div>
                <div>
                    <label class="label"> Usuarios</label>
                </div>
            </div>
        </a>
    </div>

    <div class="divA">

        <a routerLink="/roles">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">group_work</mat-icon>
                </div>
                <div>
                    <label class="label"> Roles</label>
                </div>
            </div>
        </a>
    </div>
    <div class="divA">

        <a routerLink="/categorias">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;"> category</mat-icon>
                </div>
                <div>
                    <label class="label"> Categorias</label>
                </div>
            </div>
        </a>
    </div>
    <div class="divA">
        <a routerLink="/disciplinas">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">extension</mat-icon>
                </div>
                <div>
                    <label> Disciplinas</label>
                </div>
            </div>
        </a>
    </div>
    <div class="divA">
        <a routerLink="/gimnasios">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">fitness_center</mat-icon>

                </div>
                <div>
                    <label class="label"> Gimnasios</label>
                </div>
            </div>
        </a>
    </div>
    <div class="divA">
        <a routerLink="/instructores">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;"> directions_walk</mat-icon>

                </div>
                <div>
                    <label class="label"> Instructores</label>
                </div>
            </div>
        </a>
    </div>
    <div class="divA">
        <a routerLink="/horarios">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;"> av_timer</mat-icon>

                </div>
                <div>
                    <label class="label"> Horarios</label>
                </div>
            </div>
        </a>
    </div>
    <div class="divA">
        <a routerLink="/nuevoAlumno">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">person_add</mat-icon>
                </div>
                <div>
                    <label class="label"> Inscripciones</label>
                </div>
            </div>
        </a>
    </div>
    <div class="divA">
        <a routerLink="/Alumnos">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">face</mat-icon>
                </div>
                <div>
                    <label class="label">Alumnos</label>
                </div>
            </div>
        </a>
    </div>

    <div class="divA">
        <a routerLink="/planes">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">view_comfy</mat-icon>
                </div>
                <div>
                    <label class="label"> Planes</label>
                </div>
            </div>
        </a>
    </div>

    <div class="divA">

        <a routerLink="/homeGuardia">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">account_balance</mat-icon>
                </div>

                <div><label class="label"> Recepción</label></div>
            </div>
        </a>
    </div>
 -->
    <div class="divA">
        <a (click)="cerrarSesion()">
            <div class="row decoration">
                <div>
                    <mat-icon class="iconMargin" style="color: white;">exit_to_app</mat-icon>
                </div>
                <div>
                    <label class="label"> Cerrar sesión</label>
                </div>
            </div>

        </a>
    </div>
</div>