.containerMenu{
    max-width: 15%;
    min-width: 15%;
    max-height: 100%;
    min-height: 100%;
    background: linear-gradient(70deg, #8acfda, #2b8ccc);
    position: fixed;
    padding: 15px;
    overflow-y: scroll;
}

label{
    color: white;
}

.decorationUser{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white ;
    border-top: 1px solid white ;   
}

.imgUser{
    width: 15%;
    margin-left: 15px;
    
    
}

.txtUser{
    font-size: 0.9vw;
    margin-top: 5px;
    margin-left: 10px;
    min-width: calc(75% - 30px);
    max-width: calc(75% - 30px);
}

.iconMargin{
    margin-right: 10px;
}

.label{
    margin-top: 5px;
}

.divA{
    margin-top: 7px;
    margin-left: 10px;
}


.aCont{
    background-color: white;
    
}

.decoration:hover{
    padding: 0;
    margin: 0;
    border-radius: 50px/50px;
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}