<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Instructores</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Nuevo Instructor</label>
        <br>
        
        <div style="padding: 3%;">
          <div class="divImg">
            <img style="min-width: 100%; max-width: 100%; border-radius: 50%;" [src]="showImg">
            <img (click)="open(content)" class="imgIconCamara" src="assets/images/camara_icon.png">

          </div>
          
          
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre(s):</label>  
                    <input placeholder="Nombre(s)" [(ngModel)]="instructor.instructorNombre" class="inputForm3" >  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido Paterno:</label>  
                    <input placeholder="Apellido paterno" [(ngModel)]="instructor.instructorApellidoPaterno" class="inputForm3" >  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido Materno:</label>  
                    <input placeholder="Apellido materno" [(ngModel)]="instructor.instructorApellidoMaterno" class="inputForm3" >  
                  </div>
            </div>
            
            <br>
            <div class="row" >
              <div class="divContenedor3">
                <label class="labelForm3">Sexo: </label>  
                <select class="inputForm3" [(ngModel)]="instructor.instructorSexo" >
                  <option value="">Selecciona</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Masculino">Masculino</option>
                </select>  
              </div>
                <div class="divContenedor3">
          
                    <label class="labelForm3">Fecha de nacimiento: </label>  
                    <input type="date" class="inputForm3"  [(ngModel)]="instructor.instructorFechaDeNacimiento" max="{{todaysdate|date:'yyyy-MM-dd'}}"> 
                  </div>
            
                  <div class="divContenedor3">
                    <label class="labelForm3">CURP: </label>  
                    <input placeholder="CURP" type="text" [maxlength]="18" class="inputForm3" [(ngModel)]="instructor.instructorCURP"> 
                  </div>
            </div>
            <br>
            
            <div class="row" >
              <div class="divContenedor3">
            
                <label class="labelForm3">RFC: </label>  
                <input placeholder="RFC" type="text" [maxlength]="13" class="inputForm3" [(ngModel)]="instructor.instructorRFC" >  
              </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Teléfono: </label>  
                  <input placeholder="Teléfono" (focusout)="validaCelulcar()" class="inputForm3" [(ngModel)]="instructor.instructorTelefono" type="text" (keypress)="numberOnly($event)" [maxlength]="10" >  
                  </div>
            
                  <div class="divContenedor3">
               
                  </div>
            </div>
            <br>
            <div class="row" >
        
                <div class="divContenedor3">
                    <label class="labelForm3">Codigo postal:: </label>  
                    <input placeholder="Codigo postal" type="text" (keypress)="numberOnly($event)"  [maxlength]="6" (change)="getInfoCp()" class="inputForm3" [(ngModel)]="instructor.instructorCodigoPostal">  
                  </div>
            
                  <div class="divContenedor3">
                    <label class="labelForm3">Estado: </label>  
                    <input placeholder="Estado" class="inputForm3" [(ngModel)]="instructor.instructorEstado">  
                  </div>
                  <div class="divContenedor3">
            
                    <label class="labelForm3">Municipio: </label>  
                    <input placeholder="Municipio" class="inputForm3" [(ngModel)]="instructor.instructorMunicipio" >  
                  </div>
            </div>
            <br>
            <div class="row" >
              <div class="divContenedor3">
                <label class="labelForm3">Colonia: </label>  
                  <input  placeholder="Colonia" class="inputForm3" [(ngModel)]="instructor.instructorColonia" [matAutocomplete]="auto"> 
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of arrayAsentamientos" [value]="option.nombre">
                      {{option.nombre}}
                    </mat-option>
                  </mat-autocomplete>
           
           
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Número: </label>  
                  <input  placeholder="Número" class="inputForm3" [(ngModel)]="instructor.instructorNumero" > 
                </div>
                <div class="divContenedor3" style="text-align: right;">
                 
                </div>
          </div>

            <br>
            <div class="row" >
                <div class="divContenedor1">
                  <label class="labelForm3">Calle: </label>  
                    <input placeholder="Calle"  class="inputForm3"  [(ngModel)]="instructor.instructorCalle"> 
                  </div>
               
                  <div class="divContenedor3" style="text-align: right;">
                    <label class="labelForm3"> </label>  
                    <label ><button  (click)="setInstructor()">Guardar</button></label>
                    <label ><button (click)="reset()" *ngIf="visibleCancelar === 0" >Cancelar</button></label>
                  </div>
            </div>

        </div>
    </div>
    
    <br>
    
    
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Instructores</label>
            <input (ngModelChange)="buscarInstructor()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 16%;">
                    <col span="1" style="width: 18%;">
                    <col span="1" style="width: 16%;">
                    
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                
                    <th>
                        Estatus
                    </th>  
                    <th>
                        Acciones
                    </th>
                    <th>
                        Descarga
                    </th>
                    <th>
                      Activar
                  </th>
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let instructor of arrayInstructoresShow" >
                    <td >{{instructor.instructorNombre}} {{instructor.instructorApellidoPaterno}} {{instructor.instructorApellidoMaterno}}</td>
                    <td >{{instructor.instructorActivo}}</td>
                    <td > <button (click)="btnEditar(instructor)" >Editar</button></td>
                    <td><button (click)="this.openPDF(instructor);">Descargar QR</button></td>
                    
                    <td ><mat-slide-toggle (change)="activarDesactivar(instructor)"  [(ngModel)]="instructor.isActive"></mat-slide-toggle></td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div>
    
    
    
    
</div>




<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tomar foto!</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<select (change)="cambioCamara(video)" [(ngModel)]="idCamara">
  <option  *ngFor="let device of arrayCamaras" [value]="device.deviceId"  [selected]="idCamara === device.deviceId" >
    {{device.label}} 
  </option>
</select>

<button (click)="iniciarCamara(video)">iniciar camara</button>
<div style="text-align: center;">
  <video [ngStyle]="{'display': isCaptured ===  false ? 'inline' : 'none' }" name="video" #video id="video" width="500" height="500" autoplay></video>
</div>
<div style="text-align: center;">
  <canvas [ngStyle]="{'display': isCaptured === true ? 'inline' : 'none' }" #canvas id="canvas" width="500" height="500"></canvas>
</div>  


<div style="text-align: center;">
  <button (click)="capture(canvas,video)">tomar foto</button>
<button (click)="tomarOtra()">Tomar otra</button>
</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="btnGuardarfoto()">Guardar</button>

    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancelar</button>
  </div>
</ng-template>











<div style="text-align:center;  position: absolute; left: 26.1%; top: 47%;z-index:-10000;">
  <ngx-qrcode 
    id="qrcode"
    [value] = "value"
    cssClass = "aclass"
  >
</ngx-qrcode>
</div>


