<app-menu [usrData]="permisos"></app-menu>
<div class="divDisciplina">
    <h1 class="h1titulo">Disciplinas</h1>
    <div class="divFormulario">
           
        <label class="tituloFormulario">Nueva disciplina</label>
        <br>
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre de la disciplina:</label>  
                    <input placeholder="Nombre de la disciplina" [(ngModel)]="disciplina.disciplinaNombre" class="inputForm3"  >  
                  </div>  
            </div>
            <br>
            <div class="row" >
                  <div class="divContenedor3"></div>
                  <div class="divContenedor3"></div>
                  <div class="divContenedor3" style="text-align: right;">
                    <label class="labelForm3"> </label>  
                    <label ><button (click)="setDisciplina()"  >Guardar</button></label>
                    <label ><button (click)="btnCancelar()" *ngIf="visibleCancelar === 0"  class="btnCancelar" >Cancelar</button></label>
                  </div>
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Disciplinas</label>
            <input (ngModelChange)="buscarDisciplina()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 34%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                                                        
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre de disciplina
                    </th>

                    <th>
                        Estatus     
                    </th>
                                   
                    <th>
                        Acciones
                    </th>
                    <th>
                        Activar
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let disciplina of arrayDisciplinasShow" >
                    <td >{{disciplina.disciplinaNombre}}</td>
                    <td >{{disciplina.disciplinaActivo}}</td>
                    <td > <button (click)="btnEditar(disciplina)">Editar</button></td> 
                    <td ><mat-slide-toggle (change)="activarDesactivar(disciplina)" [(ngModel)]="disciplina.isActive"></mat-slide-toggle></td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div>
    
    
</div>