<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Reporte de gimnasios</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Filtros</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Gimnasio: </label>  
                    <select class="inputForm3" (change)="cambioFiltros()" [(ngModel)]="idGimnacioFiltro">
                        <option value="0">
                            seleccionar...
                          </option>
                        <option *ngFor="let gim of arrayGimnasiosActivos" [value]="gim.gimnasioId">
                            {{gim.gimnasioNombre}}
                          </option>
                    </select>  
                     
                  </div>
                <div class="divContenedor3">
                    <label class="labelForm3">Disciplina: </label>  
                    <select  class="inputForm3" (change)="cambioFiltros()" [(ngModel)]="idDisciplinaFiltro" >
                        <option value="0">
                            seleccionar...
                          </option>
                        <option *ngFor="let disciplina of arrayDisciplinasActivas" [value]="disciplina.disciplinaId">
                            {{disciplina.disciplinaNombre}}
                          </option>
                    </select>  
                     
                  </div>
                  
           
                  
                  
            </div>
            
            <br>
           
            <br>
        </div>
    </div>
    
    <br>
    
    
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <button class="inputBusqueda" (click)="downloadReporte()">Descargar reporte</button>
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 26%;">
                    <col span="1" style="width: 19%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre del gimnacio
                    </th>
                    <th>
                        Disciplina
                    </th>
                    <th>
                        Día/Horario
                    </th>
                    <th>
                        Aforo Maximo
                    </th>
                    <th>
                        Aforo actual
                    </th>
                    <th>
                        Aforo disponible
                    </th>
                   
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let gim of arrayGimnaciosShow" >
                    <td >{{gim.gimnasioNombre}} 
                    </td>
                    <td ><label>{{gim.disciplinaNombre}}</label></td>
                    <td ><label>{{gim.horarioDias}}/{{gim.horarioinicio}} - {{gim.horarioFin}}</label></td>
                    <td >{{gim.CapacidadMaxima}}</td>
                    <td >{{gim.AforoActual}}</td>
                         
                    <td >{{gim.CapacidadActual}}</td>
                  
                </tr> 
              </tbody>
            </table>
          </div>
       </div>
   </div>
    
    
    
    
</div>