
<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">

    <br>
    <br>
    <br>

    <div class="card text-center">
        <div class="card-header">
          Generar QR Maestro
        </div>
        <div class="card-body">
          <h5 class="card-title">QR Maestro</h5>
         
          <ngx-qrcode
            id="qrcode"
            value = "{{newQr}}"
            [width]="300"
            
          >
          </ngx-qrcode>

          <!-- <ngx-qrcode
                id="{{integrante.integranteCURP}}"
                value = "{{integrante.integranteValueQR}}"
                [width]="50"
                (click)="descargarPDF(integrante)"
            >
            </ngx-qrcode> -->

          <p class="card-text">Este QR da acceso total a todo aquel que lo porte</p>
          <button type="button" class="btn btn-primary" (click)="generarQr()">Generar Nuevo</button>
        </div>
        <div class="card-footer text-muted">
            QR
        </div>
      </div>


    
</div>