<div class="divPrincipalsplash">
    <img class="divContenedorSplas" src="assets/images/simage01.jpg">
    <label class="centrado">! B I E N V E N I D O ¡<br>
        DEPORTIVO AGUSTÍN MILLÁN!</label>
    
</div>
