.divContenedorSplas{
    max-width: 100%;
    min-width: 100%;

    max-height: 100%;
    min-height: 100%;
    opacity: 0.3;
}

.divPrincipalsplash{
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
overflow: hidden;
    background: linear-gradient(70deg, #a0d9ea, #29abe2);
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
  
    font-size: 40px;
    line-height: 120%;
}