<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  <h1 class="h1titulo">Reporte pagos por alumno</h1>
    <div class="divMedica">
   
         <label class="tituloMedica">Filtros</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor1">
                    <label class="labelForm3">Alumno: </label>  
                    <input [matAutocomplete]="auto2" (ngModelChange)="busquedaAlumno($event)" [(ngModel)]="strBusqueda" class="inputForm3" placeholder="Buscar...">
                    <mat-autocomplete  (change)="selectedAlumno()" #auto2="matAutocomplete">
                        <mat-option (click)="selectedAlumno()" *ngFor="let alumno of arrayAlumnosResultados" [value]="alumno.alumnoCURP">
                          {{alumno.alumnoNombre}} {{alumno.alumnoCURP}} {{alumno.alumnoFechaDeNacimiento}}
                        </mat-option>
                      </mat-autocomplete>
                  </div>
            </div>
            
            <br><br>
            
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Del: </label>  
                    <input [(ngModel)]="fecha1" type="date"   class="inputForm3">
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">al: </label>  
                    <input [(ngModel)]="fecha2" type="date"   class="inputForm3">
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3"> </label>  
                    <button (click)="getPagosAlumno()">Buscar</button>
                  </div>
                  
            </div>
   
            
   
            <br>
        </div>
    </div>
    
    <br>

    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <button class="inputBusqueda" (click)="downloadReporte()" >Descargar reporte</button>
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 25%;">               
                    <col span="1" style="width: 9%;">
                    <col span="1" style="width: 9%;">
                    <col span="1" style="width: 9%;">
                    <col span="1" style="width: 9%;">                    
                    <col span="1" style="width: 8%;">
                    <col span="1" style="width: 8%;">
                    <col span="1" style="width: 13%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                
                    <th>
                        Importe
                    </th>
                    <th>
                        Tipo De Pago
                    </th>
                  
                    <th>
                        Folio
                    </th>

                    <th>
                        Cuenta Beneficiaria
                    </th>
            
                    <th>
                        Concepto De Pago
                    </th>
                    <th>
                        Observaciones
                    </th>
                  
                    <th>
                        Fecha de Pago
                    </th>
                   
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let ar of arrayResultadosReporte" >
                    <td >{{ar.Nombre }} {{ar.ApellidoPaterno}} {{ar.ApellidoMaterno}}</td>      
                    <td >{{ar.Importe}}</td>
                    <td >{{ar.TipoDePago}}</td>
                    <td>{{ar.FolioDePago}}</td>
                    <td>{{ar.CuentaBeneficiaria}}</td>
                    <td >{{ar.ConceptoDePago}}</td>
                    <td >{{ar.Observaciones}}</td>
                    <td >{{ar.FechaDeReciboDePago}}</td>
                </tr> 
              </tbody>
            </table>
          </div>
       </div>
   </div> 


    
    
</div>