<app-menu [usrData]="permisos"></app-menu>
<div class="divGimnacio">
        
    <h1 class="h1titulo">Reagendar clase</h1>
    <div class="tituloBusqueda">
     <div class="divFormulario">
        <input [matAutocomplete]="auto2" (ngModelChange)="busquedaAlumno($event)" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar..."><button class="btnReset" >Limpiar</button>
        <mat-autocomplete (change)="selectedAlumno()"  #auto2="matAutocomplete"> 
               <mat-option (click)="selectedAlumno()" *ngFor="let alumno of arrayAlumnosResultados" [value]="alumno.alumnoCURP">
                 {{alumno.alumnoNombre}} {{alumno.alumnoCURP}} {{alumno.alumnoFechaDeNacimiento}}
               </mat-option>
        </mat-autocomplete>  
        <br>
        <div class="divImg">
            <img style="min-width: 100%; max-width: 100%; border-radius: 50%;" [src]="showImg">
        </div>
        <div style="padding: 1%;" class="row">    
            <div class="divContenedor3">
                <label class="labelForm3">Nombre(s):</label>  
                <input readonly class="inputForm3" value="{{alumno.alumnoNombre}} {{alumno.alumnoApellidoPaterno}} {{alumno.alumnoApellidoMaterno}}">  
            </div>          
        </div>
          <div class="row" style="padding: 1%;">
            <div class="row" style="min-width: 100%;">
              <div class="divContenedor2">
                <label class="labelForm2Medica">Disciplina: </label>  
                  <!-- <select class="inputForm2Medica" >
                    <option value="0">Selecciona..</option>
                  </select> -->
                <select (change)="getHorarioBydisciplina()"  class="inputForm2Medica" [(ngModel)]="disciplinaSelected" >
                  <option value="0">Selecciona..</option>
                  <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                    {{disciplina.disciplinaNombre}}
                  </option>
                </select>  
              </div>
              <div class="divContenedor2">
                <label class="labelForm2">Fecha de reposición:</label>  
                <input readonly  class="inputForm2" [(ngModel)]="fechaReposicion">
                
                
                
                  <!-- <select class="inputForm2Medica" >
                    <option value="0">Selecciona..</option>
                  </select> -->
              </div>
            </div>
            
            <div class="row" style="padding: 1%; min-width: 100%;">
                <div class="divContenedor3">
                  <label class="labelForm3">Lunes</label>
                  <select [disabled]="!enableLunes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioLunesSelected" class="inputForm3"  >
                    <option value=0>Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosLunes" [value]=horario.horarioId>
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Martes</label>
                  <select [disabled]="!enableMartes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMartesSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                  <option *ngFor="let horario of arrayHorariosMartes" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option> 
                  </select>    
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Miercoles</label>
                  <select [disabled]="!enableMiercoles" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMiercolesSelected" class="inputForm3"  >
                    <option value="0">Selecciona.</option> 
                    <option *ngFor="let horario of arrayHorariosMiercoles" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
              </div> 
              <br>
              
              <div class="row" style="padding: 1%; min-width: 100%;">
                <div class="divContenedor3">
                  <label class="labelForm3">Jueves</label>
                  <select [disabled]="!enableJueves" (change)="validarClasesPlan()" [(ngModel)]="idHorarioJuevesSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosJueves" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Viernes</label>
                  <select [disabled]="!enableViernes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioViernesSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosViernes" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Sabado</label>
                  <select [disabled]="!enableSabado" (change)="validarClasesPlan()" [(ngModel)]="idHorarioSabadoSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosSabado" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
              </div> 
              <br>
              <div class="row" style="padding: 1%; min-width: 100%;">
                <div class="divContenedor3">
                  <label class="labelForm3">Domingo</label>
                  <select [disabled]="!enableDomingo" (change)="validarClasesPlan()" [(ngModel)]="idHorarioDomingoSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosDomingo" [value]="horario.horarioId">
                      {{horario.horarioNombre}}, {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3"></div>
                <div class="divContenedor3">
                  <div style="text-align: right;">
                    <label class="labelForm3"></label>
            
                    <button (click)="guardarRepocision()"  mat-button >Guardar</button>
                  </div>    
                </div>
              </div>
          
          </div>
      </div>
    </div>
</div>
