


<div class="rentasAlta">
    <h3>Equipo: {{equipo.equipoNombre}}</h3>
    <p>Disciplina: {{equipo.disciplinaNombre}}</p>
    <p>Gimnasio: {{equipo.gimnasioNombre}}</p>
    <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="changedTab($event)" animationDuration="1000ms" mat-align-tabs="center">
        <mat-tab label="Equipo">
            <br>
            <div class="row" >        
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre del equipo: </label>  
                    <input placeholder="Nombre del equipo" class="inputForm3"[(ngModel)]="equipo.equipoNombre" [disabled]="isDisabledEquipo">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Gimnasio: </label>  
                    <select class="inputForm3" [(ngModel)]="equipo.gimnasioId" (change)="getHorariosGim()" [disabled]="isDisabledGimnasio">
                        <option *ngFor="let gimnasio of arrayGimnasios" [value]="gimnasio.gimnasioId" >
                          {{gimnasio.gimnasioNombre}}
                        </option>
                    </select>
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Disciplina: </label>  
                    <select class="inputForm3" [(ngModel)]="equipo.disciplinaId" [disabled]="isDisabledDisciplina">
                        <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                          {{disciplina.disciplinaNombre}}
                        </option>
                    </select>  
                  </div>                  
            </div>
            <br>          
            <div class="row">
              <div class="divContenedor3">
                <label class="labelForm3">Importe: </label>  
                <input placeholder="Importe" type="number" class="inputForm3" (keypress)="numberOnly($event)" [(ngModel)]="equipo.equipoImporte" [disabled]="isDisabledImporte" >                                
              </div>
            </div>
            
            <br>

            <div class="row g-3">  
              <div class="col">
                <button class="form-control" mat-fab color="primary" type="button" (click)="agregarHorarioNuevo()" [disabled]="isDisabledNuevoHorario">
                  NUEVO HORARIO
                </button> 
              </div>   
              
              <div class="col">
                <button class="form-control" mat-fab color="primary" type="button"  (click)="guardarEquipo()" *ngIf="isVisibleGuardarHorario">
                  GUARDAR NUEVO HORARIO
                </button>
              </div>
                           
              <!-- <label class="example-margin check" style="text-align: center;" color="primary"><button (click)="agregarHorarioNuevo()" [disabled]="false">Agregar Nuevo Horario</button></label> -->              
              
            </div>

            <div class="divDias mt-4">
              <div class="row"  >
                <mat-checkbox class="example-margin check" color="primary"  [(ngModel)]="domingo" [disabled]="isDisabled">Domingo</mat-checkbox>
                <label class="example-margin check" style=" text-align: center;" color="primary" >De</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioDomingo" [disabled]="isDisabled">
                <label class="example-margin check" style="text-align: center;" color="primary" >a</label>
                <input class="example-margin check"   color="primary" type="time" [(ngModel)]="horaFinDomingo" [disabled]="isDisabled">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="lunes" [disabled]="isDisabled">Lunes</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioLunes" [disabled]="isDisabled">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinLunes" [disabled]="isDisabled">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="martes" [disabled]="isDisabled">Martes</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioMartes" [disabled]="isDisabled">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinMartes" [disabled]="isDisabled">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="miercoles" [disabled]="isDisabled">Miercoles</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioMiercoles" [disabled]="isDisabled">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinMiercoles" [disabled]="isDisabled">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="jueves" [disabled]="isDisabled">Jueves</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioJueves" [disabled]="isDisabled">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinJueves" [disabled]="isDisabled">
              </div>
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="viernes" [disabled]="isDisabled">Viernes</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioViernes" [disabled]="isDisabled">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinViernes" [disabled]="isDisabled">
              </div>
              
              <div class="row">
                <mat-checkbox class="example-margin check" color="primary" [(ngModel)]="sabado" [disabled]="isDisabled">Sabado</mat-checkbox>
                <label class="example-margin check" style="text-align: center;" color="primary">De:</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaInicioSabado" [disabled]="isDisabled">
                <label class="example-margin check" style="text-align: center;" color="primary">a</label>
                <input class="example-margin check" color="primary" type="time" [(ngModel)]="horaFinSabado" [disabled]="isDisabled">

              </div>
              
            </div>            
            
            <br>
                <div class="row" >
                    <div class="divContenedor1">  
                      <label class="example-margin check" style="text-align: center;" color="primary"></label>
                      <label class="example-margin check" style="text-align: center;" color="primary"><button (click)="guardarHorario()" [disabled]="isDisabledBotonActualizarHorario">Guardar cambios</button></label>
                                                                       
                      <label class="example-margin check" style="text-align: center;" color="primary"></label>
                      <label class="example-margin check" style="text-align: center;" color="primary"><button (click)="btnCancelar()">Cancelar</button></label>
                    
                      <label class="example-margin check" style="text-align: center;" color="primary"></label> 
                  </div>
                </div>
            <br>
            <div [ngSwitch]="view2">
                <mwl-calendar-week-view
                    *ngSwitchCase="CalendarView2.Week"
                    [viewDate]="viewDate2"
                    [events]="events2"
                    [refresh]="refresh2"
                    [locale]="locale2"
                    [dayStartHour]="dayStartHour" 
                    [dayEndHour]="dayEndHour">
                </mwl-calendar-week-view>
            </div>
            
            <!-- <p>Say "{{ childMessage }}"</p>
            <button (click)="sendMessage()">Send Message</button> -->
            
        </mat-tab>


        <mat-tab label="Integrantes">           
            <br>
            <div class="row" >        
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre del integrante: </label>  
                    <input placeholder="Nombre" class="inputForm3" [(ngModel)]="integrante.integranteNombre">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido paterno: </label>  
                    <input placeholder="Apellido paterno" class="inputForm3" [(ngModel)]="integrante.integranteApellidoPaterno">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido materno: </label>  
                    <input placeholder="Apellido materno" class="inputForm3" [(ngModel)]="integrante.integranteApellidoMaterno">  
                  </div>
            </div>
            <br>
            <div class="row" >        
                <div class="divContenedor3">
                    <label class="labelForm3">CURP: </label>  
                    <input placeholder="CURP" class="inputForm3" type="text" [maxlength]="18" [(ngModel)]="integrante.integranteCURP">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Teléfono (solo el representante): </label>  
                    <input placeholder="Teléfono" type="text" (keypress)="numberOnly($event)"  [maxlength]="10" class="inputForm3" [(ngModel)]="integrante.integranteTelefono">  
                  </div>
                  <div class="divContenedor3" style="text-align: right;">   
                    <label class="labelForm3"> </label>  
                    <label><button (click)="agregarIntegrantes()" >Guardar</button></label>
                    <label><button (click)="btnCancelar()">Cancelar</button></label>
                  </div>
            </div>
            
            <br>
            <div class="divContainerTable">
     
                <!-- <div class="tituloBusqueda">
                    <label class="tituloTabla">Integrantes</label>
                    <input (ngModelChange)="buscarCategoria()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
                </div> -->
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default">Buscar Integrante</span>
                  <input type="text" (keyup)="buscarIntegrante($event)"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
        
               <div>                
                <div class="tableFixHead">
                    <table>
                        <colgroup>
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 18%;">
                            <col span="1" style="width: 13%;">
                            <col span="1" style="width: 13%;">
                            <col span="1" style="width: 13%;">
                            <col span="1" style="width: 13%;">
                         </colgroup>
                      <thead>
                        <tr>
                            <th>
                                Nombre del integrante
                            </th>
                            <th>
                                CURP
                            </th>
                            <th>
                                Teléfono
                            </th>
                            <th>
                              Editar
                            </th>
                            <th>
                              Activar/Desactivar
                            </th>
                            <th>
                              Generar QR
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let integrante of arrayIntegrantes" >
                            <td >{{integrante.integranteNombre }} {{integrante.integranteApellidoPaterno}} {{integrante.integranteApellidoMaterno}}</td>
                            <td >{{integrante.integranteCURP}}</td>
                            <td >{{integrante.integranteTelefono}} 
                              </td>
                            <td > <button (click)="EditarIntegrante(integrante)" >Editar</button></td>
                            <td ><mat-slide-toggle (change)="activarDesactivar(integrante)" [(ngModel)]="integrante.isActive"></mat-slide-toggle></td>
                            <td>
                                <ngx-qrcode
                                  id="{{integrante.integranteCURP}}"
                                  value = "{{integrante.integranteValueQR}}"
                                  [width]="50"
                                  (click)="descargarPDF(integrante)"
                                >
                                </ngx-qrcode>
                            </td>
                        </tr> 
                      </tbody>
                    </table>
                  </div>
               </div>
           </div>    
           <!-- <button (click)="guardarEquipo()" >Guardar Equipo</button> -->                      
        </mat-tab>
      </mat-tab-group>
</div>
