.divContenedorNuevoUser{
    min-width: 85%;
    max-width: 85%;
    margin-left: 15%;
    padding: 10px;
    background-image: url("../../assets/images/backback.png");
    background-size: cover;
    background-repeat: 100% 100%;
}

.row{
    margin: 0px;
}

.divBasica{

    min-width: 80%;
    max-width: 80%;
    border-radius: 10px;
    margin-left: 10%;
}

.tituloBasica{
    background: linear-gradient(70deg, #a0d9ea, #29abe2);
    color: black;
    min-width: 100%;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.divImg{
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 10PX;
    min-width: 23%;
    max-width: 23%;
    z-index: 10 !important;
}

.imgIcon{
    border: 1px solid black;
    border-radius: 50%;
    min-width: 90%;
    max-width: 90%;
    margin-left: 5%;
    z-index: -10 !important;
}

.imgIconCamara{
    margin-top: -35%;
    min-width: 15%;
    max-width: 15%;
    margin-left: 70%;
    cursor: pointer;
}

.divformBasica{
    min-width: 73%;
    max-width: 73%;
}

/*styles para los inputs*/



.divContenedor3{
    min-width: 32.3%;
    max-width: 32.3%;
    margin-right: 1%;
}

.divContenedor2{
    min-width: 49%;
    max-width: 49%;
    margin-right: 1%;
}


.labelForm1{
    min-width: 15%;
}

.inputForm1{
    border-radius: 10px;
    border: 1px solid black;
    min-width: 85%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}



.labelForm2{
  
    max-width: 45%;
    min-width: 45%;
    
  
}

.inputForm2{
    border-radius: 10px;
    border: 1px solid black;
    min-width: 54%;
    max-width: 54%;
    margin-left: 1%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}



.labelForm3{
    min-width: 100%;
    max-width: 100%;
}

.inputForm3{
    border-radius: 10px;
    border: 1px solid black;
    min-width: 100%;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
label{
    margin-bottom: 0;
}


.marginTop{
    margin-top: 1%;
}

.divMedica{
  
        min-width: 80%;
        max-width: 80%;
        border-radius: 10px;
        margin-left: 10%;
}


.tituloMedica{
    background-color: #e09b06;
    color: black;
    min-width: 100%;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}

.imgIconoMedica{
    margin-left: 3%;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 4%;
    border-radius: 50%;
    background-color: #b2831d;   
}

.labeltituloMedica{
    min-width: 83%;
    max-width: 83%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*stylos para formulario de contacto*/
.divContacto{
    
    min-width: 80%;
    max-width: 80%;
    border-radius: 10px;
    margin-left: 10%;
}


.tituloContacto{
background-color: #e06d06;
color: black;
min-width: 100%;
text-align: center;
border-radius: 10px;
padding-top: 3px;
padding-bottom: 3px;
font-weight: bold;
}

.imgIconoContacto{
margin-left: 3%;
margin-top: 3px;
margin-bottom: 3px;
width: 4%;
border-radius: 50%;
background-color: #a25511;   
}

.labeltituloContacto{
min-width: 83%;
max-width: 83%;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.labelForm2Medica{
  
    max-width: 30%;
    min-width: 30%;
    
  
}

.inputForm2Medica{
    border-radius: 10px;
    border: 1px solid black;
    min-width: 69%;
    max-width: 69%;
    margin-left: 1%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.labelForm2MedicaAlergias{
    max-width: 20%;
    min-width: 20%;
}

.inputForm2MedicaAlergias{
    border-radius: 10px;

    min-width: 76.5%;
    max-width: 76.5%;
    margin-left: 2.5%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}



.divContenedor2Medica{
    min-width: 45%;
    max-width: 45%;
    margin-left: 5%;
}


.divContenedor2Redes{
    min-width: 99%;
    max-width: 499%;
    margin-right: 1%;
}

.btnGuardar{
    max-width: 20%;
    min-width: 20%;
    margin-left: 70%;
    background-color: #a0d9ea;
    
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}


.btnSiguiente{
    background-color: #a0d9ea;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 10%;
    max-width: 10%;
}



.btnBack{
    background-color: transparent;
    color: black;
    border: none;
    margin-right: 2%;
    min-width: 10%;
    max-width: 10%;
    margin-right: 80%;
}


.tableFixHead          { overflow: auto; height: 250px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }


.aclass{
    min-width: 80%;
    max-width: 80%;
    margin-left: 10%;
}


::ng-deep .mat-step-header {
    
    background-color:  #60d8d8 !important;
    border-bottom-right-radius: 40px;

}

::ng-deep .mat-step-header[aria-selected="true"] ~ * {

    background-color: transparent !important;
    
}

button{
    background-color: #a0d9ea;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.divContenedorBotones{
    min-width: 80%;
    max-width: 80%;
    margin-left: 10%;
}

