<app-menu [usrData]="permisos"></app-menu>


<div class="divContenedorNuevoUser">
    <br><br>
    

    
    <mat-stepper linear #stepper>
      <mat-step completed="{{step1Complete}}" [editable]="isEditable" label="Inf. básica">
      
<!--Inicio primer formulario-->
<div class="divBasica">

  <br>
  <div class="row">
      <div class="divImg">
          <img class="imgIcon" [src]="showImg">
          <img (click)="open(content)" class="imgIconCamara" src="assets/images/camara_icon.png">
      </div>
      <div class="divformBasica">
              <div class="row">
                  <div class="divContenedor3">
                      <label class="labelForm3">Nombre(s):</label>  
                      <input placeholder="Nombre(s)" [(ngModel)]="alumno.alumnoNombre" class="inputForm3">  
                    </div>
                    <div class="divContenedor3">
                      <label class="labelForm3">Apellido Paterno:</label>  
                      <input placeholder="Apellido paterno" [(ngModel)]="alumno.alumnoApellidoPaterno" class="inputForm3">  
                    </div>
                    <div class="divContenedor3">
                      <label  class="labelForm3">Apellido Materno:</label>  
                      <input placeholder="Apellido materno" [(ngModel)]="alumno.alumnoApellidoMaterno" class="inputForm3">  
                    </div>
              </div>
              <br>
              <div class="row">
                  
                <div class="divContenedor2">
                  <label class="labelForm2">Fecha de Nacimiento: </label>  
                  <input [(ngModel)]="alumno.alumnoFechaDeNacimiento" type="date" class="inputForm2"  max="{{todaysdate|date:'yyyy-MM-dd'}}" >  
                </div>
                <div class="divContenedor2" style="text-align: center;">
                  <label class="labelForm2">Sexo: </label>  
                  <select [(ngModel)]="alumno.alumnoSexo" class="inputForm2">
                      <option value="">Selecciona</option>
                      <option value="Femenino">Femenino</option>
                      <option value="Masculino">Masculino</option>
                  </select>  
                </div>
               
              </div>
              <br>
              <div class="row">
                <div class="divContenedor2">
                    <label class="labelForm1">CURP: </label>  
                    <input (change)="verificarCurp()" placeholder="CURP" style="text-transform:uppercase;" [(ngModel)]="alumno.alumnoCURP"  [maxlength]="18" class="inputForm1" >
                </div>
                <div class="divContenedor2" style="text-align: right;">
                  <label class="labelForm1">Folio: </label>  
                  <input placeholder="Folio"  [(ngModel)]="alumno.alumnoFolio"  [maxlength]="18" class="inputForm1" >
                </div>
             </div> 
      </div>
  </div>
  <div style="min-width: 100%; max-width: 100%; text-align: right;">
    
  <button class="btnSiguiente" mat-button  (click)="goForward(stepper,1)">Siguiente</button>
  </div>
</div>
<!--fin primer formulario-->   
   
     
      </mat-step>
      <mat-step completed="{{step2Complete}}" [editable]="isEditable" label="Inf. mèdica">
         
        <br>
<!--Inicio segundo formulario-->
    <div class="divMedica">
      <br>
      <br>
      
      <div class="row" style="padding: 1%;">
          <div class="divContenedor2">
              <label class="labelForm2Medica">Afiliación médica: </label>  
                        
              <select class="inputForm2Medica" [(ngModel)]="alumno.alumnoAfiliacionMedica" >
                <option *ngFor="let afili of arrayAfiliacionesMedicas" [value]="afili">
                  {{afili}}
                </option>
              </select>  
              
              <br>
              <br>
              <label class="labelForm2Medica">Padecimientos: </label>  
              <input placeholder="Padecimientos" [(ngModel)]="alumno.alumnoPadecimientos" class="inputForm2Medica">
              <br>
              <br>
              <label class="labelForm2Medica">Tipo de sangre: </label>  
              <select class="inputForm2Medica" [(ngModel)]="alumno.alumnoTipoDeSangre" >
                <option *ngFor="let ts of arrayTipoSanguineo" [value]="ts">
                  {{ts}}
                </option>
              </select>  
              
          </div>
          <div class="divContenedor2Medica">
              <label class="labelForm2MedicaAlergias">Alergias: </label>  
              <select class="inputForm2Medica" [(ngModel)]="alumno.alumnoAlergias" >
                <option *ngFor="let alergia of arrayAlergiaMedica" [value]="alergia">
                  {{alergia}}
                </option>
              </select>  
              <br>
              <br>
              <div class="row">
                 <div class="divContenedor2">
                  <label class="labelForm2">Estatura: </label>  
                  <input placeholder="Estatura" type="number" [(ngModel)]="alumno.alumnoEstatura"  class="inputForm2">
                 </div>
                 <div class="divContenedor2" style="text-align: center;">
                  <label  class="labelForm2">Peso: </label>  
                  <input placeholder="Peso" type="number" [(ngModel)]="alumno.alumnoPeso" class="inputForm2">
                 </div>
              </div> 
              <br>
              <br>
          
          </div>
       </div>  
      <br>
  </div>
  <br>
  <div class="divContenedorBotones">
    <button class="btnBack" mat-button matStepperPrevious>Regresar</button>
    <button class="btnSiguiente"  mat-button (click)="goForward(stepper,2)">Siguiente</button>
  </div>    
<!--Fin segundo formulario-->
        
        
        
   
         
      </mat-step>
      <mat-step completed="false" [editable]="isEditable" label="Informaciòn de contacto" >
      
       
        
<!--Inicio tercer formulario-->
<br>
<div class="divContacto">

  <br>
  
  <div class="row" style="padding: 1%;">
      <div class="divContenedor3">
          <label class="labelForm3">Teléfono celular:</label>  
          <input type="text" (keypress)="numberOnly($event)"  [maxlength]="10"  placeholder="Teléfono celular" [(ngModel)]="alumno.alumnoTelefonoCelular" class="inputForm3">  
        </div>
        <div class="divContenedor3">
          <label class="labelForm3">Teléfono de casa:</label>  
          <input placeholder="Teléfono de casa" type="text" (keypress)="numberOnly($event)"  [maxlength]="10"  [(ngModel)]="alumno.alumnoTelefonoCasa" class="inputForm3">  
        </div>
        <div class="divContenedor3">
          <label class="labelForm3">Correo:</label>  
          <input placeholder="correo" (focusout)="validaCorreo()" [(ngModel)]="alumno.alumnoCorreoElectronico" class="inputForm3">  
        </div>
  </div>

  
  <div class="row" style="padding: 1%;">
      <div class="divContenedor2Redes">
          <label class="labelForm1">Redes sociales: </label>  
          <input placeholder="Redes sociales" [(ngModel)]="alumno.alumnoRedesSociales" class="inputForm1">
      </div>
   </div> 
  
   <div class="row" style="padding: 1%;">
      <div class="divContenedor3">
          <label class="labelForm3">Codigo postal:</label>  
          <input placeholder="Codigo postal" type="text" (keypress)="numberOnly($event)"  [maxlength]="6" (change)="getInfoCp()" [(ngModel)]="alumno.alumnoCodigoPostal" class="inputForm3">  
        </div>
        <div class="divContenedor3">
          <label class="labelForm3">Estado:</label>  
          <input placeholder="Estado" [(ngModel)]="alumno.alumnoEstado" class="inputForm3">  
        </div>
        <div class="divContenedor3">
          <label class="labelForm3">Municipio:</label>  
          <input placeholder="Municipio" [(ngModel)]="alumno.alumnoMunicipio" class="inputForm3">  
        </div>
  </div>
  
  <div class="row" style="padding: 1%;">
      <div class="divContenedor2">
       <label class="labelForm2">Colonia: </label>  
       <input placeholder="Colonia" [(ngModel)]="alumno.alumnoColonia" class="inputForm2" [matAutocomplete]="auto">
       <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of arrayAsentamientos" [value]="option.nombre">
          {{option.nombre}}
        </mat-option>
      </mat-autocomplete>
       
       
      </div>
      <div class="divContenedor2" style="text-align: center;">
       <label class="labelForm2">Nùmero: </label>  
       <input placeholder="Número" [(ngModel)]="alumno.alumnoNumero" class="inputForm2">
      </div>
   </div> 
  
   <div class="row" style="padding: 1%;">
      <div class="divContenedor2Redes">
          <label class="labelForm1">Calle: </label>  
          <input placeholder="Calle" [(ngModel)]="alumno.alumnoCalle" class="inputForm1">
      </div>
   </div> 
   <div class="row" style="padding: 1%;">
    <div class="divContenedor2Redes" style="text-align: right;">
      <button class="btnBack"   mat-button matStepperPrevious>Regresar</button>
      <button class="btnSiguiente"  mat-button (click)="goForward(stepper,3)">Siguiente </button>
    </div>
 </div> 
  <br>
</div>
<!--Fin tercer formulario-->

</mat-step>
<mat-step completed="false" [editable]="isEditable" label="Contacto de emergencia">
  <div class="divBasica">
    <br>
    <br>
    <br>
    <div class="row" style="padding: 1%;">
      <div class="divContenedor3">

        <label class="labelForm3">Nombre del contacto</label>
        <input placeholder="Nombre del contacto" class="inputForm3" [(ngModel)]="tutor.tutorNombre">
      </div>
      <div class="divContenedor3">
        <label class="labelForm3">Apellido paterno del tutor</label>
        <input placeholder="Apellido paterno" class="inputForm3" [(ngModel)]="tutor.tutorApellidoPaterno">
      </div>
      <div class="divContenedor3">
        <label class="labelForm3">Apellido materno del tutor</label>
        <input placeholder="Apellido materno" class="inputForm3" [(ngModel)]="tutor.tutorApellidoMaterno">
      </div>
    </div> 
    <br>
    <div class="row" style="padding: 1%;">
      <div class="divContenedor3">

        <label class="labelForm3">Parentesco</label>

        
        <select class="inputForm2Medica" [(ngModel)]="tutor.tutorParentesco" >
          <option *ngFor="let pariente of arrayParentesco" [value]="pariente">
            {{pariente}}
          </option>
        </select>  
      </div>
      <div class="divContenedor3">
        <label class="labelForm3">Teléfono de casa</label>
        <input placeholder="Teléfono de casa" type="text" (keypress)="numberOnly($event)"  [maxlength]="10" class="inputForm3" [(ngModel)]="tutor.tutorTelefonoCasa">
      </div>
      <div class="divContenedor3">
        <label class="labelForm3">Teléfono celular</label>
        <input placeholder="Teléfono celular" type="text" (keypress)="numberOnly($event)"  [maxlength]="10" class="inputForm3"  [(ngModel)]="tutor.tutorTelefonoCelular">
      </div>
    </div> 
    
    <div class="row" style="padding: 1%;">
      <div class="divContenedor3">
        <label class="labelForm3">Correo electrónico</label>
        <input placeholder="Correo electrónico" class="inputForm3" (focusout)="validaCorreoT()" [(ngModel)]="tutor.tutorCorreoElectronico">
      </div>
      <div class="divContenedor3">

      </div>
      <div class="divContenedor3">
    
        <button (click)="btnguardartutor()">Guardar</button>
      </div>
    </div> 
    
  </div>

  <div>
  <div class="tableFixHead">
    <table>
        <colgroup>
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 30%;">
            
            
            
         </colgroup>
      <thead>
        <tr>
            <th>
                Nombre del tutor
            </th>
         
        
            <th>
                Acciones
            </th>|
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let tut of arrayTutores; let i = index" >
            <td >{{tut.tutorNombre}} {{tut.tutorApellidoPaterno}}  {{tut.tutorApellidoMaterno}}</td>
            <td ><button (click)="quitarTutor(i)">Quitar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
    
    
  </div>
  
    <div>
      <button class="btnBack" mat-button matStepperPrevious>Regresar</button>
      <button class="btnSiguiente"  mat-button (click)="goForward(stepper,4)">Siguiente</button>
    </div>

</mat-step>


<mat-step completed="false" [editable]="isEditable" label="Disciplinas">

<!--Formulario de disciplnas y horarios-->
<div class="divBasica">
<br>
  <br>
  <br>
  <div class="row" style="padding: 1%;">
        <div class="divContenedor2">
          <label class="labelForm2Medica">Disciplina: </label>  
     
          
          <select (change)="getPlanesByDisciplina()" class="inputForm2Medica" [(ngModel)]="disciplinaSelected" >
            <option value="0">Selecciona..</option>
            <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
              {{disciplina.disciplinaNombre}}
            </option>
          </select>  
      </div>
      <div class="divContenedor2Medica">
          <label class="labelForm2MedicaAlergias">Planes: </label> 
  
          <select (change)="getHorarioBydisciplina()" class="inputForm2Medica" [(ngModel)]="planSelected" >
            <option value="0">Selecciona..</option> 
            <option *ngFor="let plan of arrayPlanesDisciplina" [value]="plan.planId">
              {{plan.planDescripcion}} {{plan.planRecurrencia}} clases a la semana
            </option>
          </select>  
      
          
       
      </div>
  </div>
  <br>
  
  <div class="row" style="padding: 1%;">
    <div class="divContenedor3">

      <label class="labelForm3">Lunes</label>
      <select [disabled]="!enableLunes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioLunesSelected" class="inputForm3"  >
        <option value="0">Selecciona..</option> 
        <option *ngFor="let horario of arrayHorariosLunes" [value]="horario.horarioId">
          {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
        </option>
      </select>  
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Martes</label>
      <select [disabled]="!enableMartes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMartesSelected" class="inputForm3"  >
        <option value="0">Selecciona..</option> 
        <option *ngFor="let horario of arrayHorariosMartes" [value]="horario.horarioId">
          {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
        </option>
      </select>    
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Miercoles</label>
      <select [disabled]="!enableMiercoles" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMiercolesSelected" class="inputForm3"  >
        <option value="0">Selecciona..</option> 
        <option *ngFor="let horario of arrayHorariosMiercoles" [value]="horario.horarioId">
          {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
        </option>
      </select>  
    </div>
  </div> 
  <br>
   
  <div class="row" style="padding: 1%;">
    <div class="divContenedor3">

      <label class="labelForm3">Jueves</label>

      
      <select [disabled]="!enableJueves" (change)="validarClasesPlan()" [(ngModel)]="idHorarioJuevesSelected" class="inputForm3"  >
        <option value="0">Selecciona..</option> 
        <option *ngFor="let horario of arrayHorariosJueves" [value]="horario.horarioId">
          {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
        </option>
      </select>  
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Viernes</label>
      <select [disabled]="!enableViernes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioViernesSelected" class="inputForm3"  >
        <option value="0">Selecciona..</option> 
        <option *ngFor="let horario of arrayHorariosViernes" [value]="horario.horarioId">
          {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
        </option>
      </select>  
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Sabado</label>
      <select [disabled]="!enableSabado" (change)="validarClasesPlan()" [(ngModel)]="idHorarioSabadoSelected" class="inputForm3"  >
        <option value="0">Selecciona..</option> 
        <option *ngFor="let horario of arrayHorariosSabado" [value]="horario.horarioId">
          {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
        </option>
      </select>  
    </div>
  </div> 

  
   
  <div class="row" style="padding: 1%;">
    <div class="divContenedor3">

      <label class="labelForm3">Domingo</label>

      
      <select [disabled]="!enableDomingo" (change)="validarClasesPlan()" [(ngModel)]="idHorarioDomingoSelected" class="inputForm3"  >
        <option value="0">Selecciona..</option> 
        <option *ngFor="let horario of arrayHorariosDomingo" [value]="horario.horarioId">
          {{horario.horarioNombre}}, {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
        </option>
      </select>  
    </div>
    <div class="divContenedor3">
  
    </div>
    <div class="divContenedor3">
      <div style="text-align: right;">
        <label class="labelForm3"></label>

        <button (click)="btnAgregarDisciplina()"  mat-button >Agregar</button>
      </div>    
    </div>
  </div> 
  </div>
<div class="tableFixHead">
  <table>
      <colgroup>
          <col span="1" style="width: 20%;">
          <col span="1" style="width: 40%;">
          <col span="1" style="width: 20%;">
          <col span="1" style="width: 20%;">
       </colgroup>
    <thead>
      <tr>
          <th>
               Plan
          </th>
       
   
          <th>
            Horario
          </th>
          
          <th>
            Importe
          </th>
          <th>
            Acciones
          </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let plan of arrayPlanesHorariosAlumno; let i = index" >
          <td >{{plan.planDescripcion}}</td>
          <td>
            <label *ngFor="let horario of plan.horario;">  
              {{horario.horarioNombre}}<br> {{horario.horarioDias}} - {{horario.horarioInicio}}
            
            </label>    
          </td>
          <td>
            {{plan.planImporte}}
          </td>
          <td ><button (click)="quitarDis(i)">Quitar</button></td>
      </tr>
    </tbody>
  </table>
</div>


<!--Fin formulario de disciplinas y horarios-->  
  
  
  <div>
    <button class="btnBack" mat-button matStepperPrevious>Regresar</button>
    <button class="btnSiguiente"  mat-button (click)="goForward(stepper,5)">Siguiente</button>
  </div>
</mat-step>



<mat-step>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-6"> 
        <label>Nombre del alumno: {{alumno.alumnoNombre}} {{alumno.alumnoApellidoPaterno}} {{alumno.alumnoApellidoMaterno}}</label>
        <br>
        <label>CURP: {{alumno.alumnoCURP}}</label>
        <br>
        <label>Disciplinas</label>
        <br>
        <div *ngFor="let plan of arrayPlanesHorariosAlumno;">
          <label >{{plan.planDescripcion}}</label><br>
        </div>
        
        <br>
        <br>
        <label>Importe por disciplinas: </label>$ {{ importeDisciplinasAux }} <input (change)="calcularPago()" [(ngModel)]="porcentajeDisciplina" type="number"  name="porcentajeDisciplina" min="0" max="100" step="1"><br>
        <label>Importe de inscripción: </label>$ {{ importeInscripcionAux }} <input (change)="calcularPago()" [(ngModel)]="porcentajeInscripcion" type="number"  name ="porcentajeInscripcion" min="0" max="100" step="1"><br>
        
        <label>subtotal: </label>{{ subTotal }} $<br>
        <!-- <label>Porcentaje a pagar: </label><input (change)="calcularPago()" [(ngModel)]="porcentajeDePago" type="number"  min="0" max="100" step="1"> -->
        <!-- <label>Porcentaje a pagar: </label> -->
        <br>
        Total:  {{ pagoTotal }}$ 
        
        
        <div style="text-align:center">
          <ngx-qrcode 
            id="qrcode"
            [value] = "value"
            cssClass = "aclass"
          >
          </ngx-qrcode>
        </div>


      </div>
        
      <div class="col-6">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="tipoDePago">Tipo de pago:</label>
              <select class="form-control" id="tipoDePago" name="tipoDePago" [(ngModel)]="parcialidad.TipoDePago">
                <option value="Selecciona una opción..." selected>Selecciona una opción...</option>
                <option value="Transferencia Electrónica">Transferencia Electrónica</option>
                <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
                <option value="Tarjeta de Débito">Tarjeta de débito</option>
                <option value="Depósito Bancaria">Depósito Bancario</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="referencia">Referencia bancaria:</label>
              <input class="form-control" type="text" id="referencia" name="referencia" [(ngModel)]="parcialidad.folioDePago" placeholder="Referencia Bancaria">              
            </div>            
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cuentaBeneficiaria">Cuenta beneficiaria:</label>
              <input class="form-control" type="text" id="cuentaBeneficiaria" name="cuentaBeneficiaria" [(ngModel)]="parcialidad.cuentaBeneficiaria" placeholder="Cuenta Beneficiaria">              
            </div>
            <div clas="form-group col-md-6">
               <label for="fechaDeReciboDePago">Fecha del recibo de pago:</label> 
               <input [(ngModel)]="parcialidad.fechaDeReciboDePago" type="date" name="fechaDeReciboDePago" id="fechaDeReciboDePago" class="form-control" placeholder="Fecha de recibo de pago" max="{{todaysdate2|date:'yyyy-MM-dd'}}">
            </div>
          </div>
          <div class="form-group">
            <label for="observaciones">Observaciones:</label>
            <textarea class="form-control" name="observaciones" id="observaciones" cols="30" rows="10" [(ngModel)]="parcialidad.observaciones" placeholder="Observaciones"></textarea>
          </div>

        </form>
      </div>

    </div>

  </div>  
  
  <button class="btnGuardar" (click)="setAlumno(stepper)">Guardar y descargar QR</button>
  <div>
    <button mat-button matStepperPrevious class="btnBack"> Regresar</button>
  </div>
</mat-step>


</mat-stepper>



<!--

<div class="tableFixHead">
  <table>
      <colgroup>
          <col span="1" style="width: 30%;">
          <col span="1" style="width: 30%;">
          <col span="1" style="width: 16%;">
          <col span="1" style="width: 16%;">
          
          
          
       </colgroup>
    <thead>
      <tr>
          <th>
            Nombre del alumno
          </th>
          <th>
            Disciplina
        </th>
        <th>
          Horario
      </th>
      
          <th>
              
          </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let alumno of arrayAlumnos" >
          <td >{{alumno.alumnoNombre}} {{alumno.alumnoApellidoPaterno}} {{alumno.alumnoApellidoMaterno}}</td>
          <td>{{alumno.alumnoDisciplina}}</td>
          <td>{{alumno.alumnoHorario}}</td>
      </tr>
    </tbody>
  </table>
</div>

-->


<br>
<br>
<br>

<br><br>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tomar foto!</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<select (change)="cambioCamara(video)" [(ngModel)]="idCamara">
  <option  *ngFor="let device of arrayCamaras" [value]="device.deviceId"  [selected]="idCamara === device.deviceId" >
    {{device.label}} 
  </option>
</select>

<button (click)="iniciarCamara(video)">iniciar camara</button>
<div style="text-align: center;">
  <video [ngStyle]="{'display': isCaptured ===  false ? 'inline' : 'none' }" name="video" #video id="video" width="500" height="500" autoplay></video>
</div>
<div style="text-align: center;">
  <canvas [ngStyle]="{'display': isCaptured === true ? 'inline' : 'none' }" #canvas id="canvas" width="500" height="500"></canvas>
</div>  


<div style="text-align: center;">
  <button (click)="capture(canvas,video)">tomar foto</button>
<button (click)="tomarOtra()">Tomar otra</button>
</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="btnGuardarfoto()">Guardar</button>

    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancelar</button>
  </div>
</ng-template>