<app-menu [usrData]="permisos"></app-menu>
<div class="divContenedorUser">
  
  <h1 class="h1titulo">Usuarios</h1>
  
  
    <div class="divMedica">
   
         <label class="tituloMedica">Nuevo usuario</label>
        <br>
        
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre(s):</label>  
                    <input placeholder="Nombre(s)" class="inputForm3"  [(ngModel)]="usuario.usuarioNombre" >  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido Paterno:</label>  
                    <input placeholder="Apellido paterno" class="inputForm3" [(ngModel)]="usuario.usuarioApellidoPaterno">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Apellido Materno:</label>  
                    <input placeholder="Apellido Materno" class="inputForm3" [(ngModel)]="usuario.usuarioApellidoMaterno">  
                  </div>
            </div>
            
            <br>
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Correo: </label>  
                    <input placeholder="Correo" (focusout)="validaCorreo()" class="inputForm3" [(ngModel)]="usuario.usuarioCorreoElectronico">  
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Rol: </label>  
                    <select class="inputForm3"  [(ngModel)]="usuario.rolRolIdFk">
                        <option *ngFor="let rol of  arrayRoles" [value]="rol.rolesId">{{rol.rolesNombre}}</option>
                    </select>  
                  </div>
                  <div class="divContenedor3">
              
                  </div>
            </div>
            <br>
            <div class="row" >
                <div class="divContenedor3">
                  <label class="labelForm3">Contraseña: </label>  
                    <input placeholder="Contraseña" type="password" class="inputForm3" [(ngModel)]="pass"> 
                  </div>
                  <div class="divContenedor3">
                    <label class="labelForm3">Confirmar contraseña: </label>  
                    <input placeholder="Confirmar contraseña"  type="password" class="inputForm3" [(ngModel)]="pass2"> 
                  </div>
                  <div class="divContenedor3" style="text-align: right;">
                    <label class="labelForm3"> </label>  
                    <label ><button (click)="setNuevoUsuario()">Guardar</button></label>
                    <label ><button *ngIf="visibleCancelar === 0" (click)="btnCancelar()">Cancelar</button></label>
                  </div>
            </div>

        </div>
    </div>
    
    <br>
    
    
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Usuarios</label>
            <input (ngModelChange)="buscar($event)" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        correo
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Estatus
                    </th>
                
                    <th>
                        Acciones
                    </th>
                    <th>
                        Activar
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of arrayUsuarios" >
                    <td *ngIf="usuario.ver === 1">{{usuario.usuarioNombre}} {{usuario.usuarioApellidoPaterno}} {{usuario.usuarioApellidoMaterno}}</td>
                    <td *ngIf="usuario.ver === 1">{{usuario.usuarioCorreoElectronico}}</td>
                    <td *ngIf="usuario.ver === 1">{{usuario.rolesNombre}}</td>
                    <td *ngIf="usuario.ver === 1">{{usuario.usuarioActivo}}</td>
                    <td *ngIf="usuario.ver === 1"> <button (click)="btnEditar(usuario)">Editar</button></td>
                    <td *ngIf="usuario.ver === 1"><mat-slide-toggle  (change)="desactivarActivarUsuario(usuario)" [(ngModel)]="usuario.isActive"></mat-slide-toggle></td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div>    
   
   <br>
   <button (click)="generarQRMaster()" style="max-width: 20%; margin-left: 40%;">Generar QR maestro</button>
   
   
   
</div>


<div style="text-align:center;  position: absolute; left: 26.1%; top: 47%;z-index:-10000;">
  <ngx-qrcode 
    id="qrcode"
    [value] = "value"
    cssClass = "aclass"
  >
</ngx-qrcode>
</div>

