<app-menu [usrData]="permisos"></app-menu>
<div class="divGimnacio">
        
    <h1 class="h1titulo">Alumnos</h1>
    
    <div class="divFormulario">
        
    <div class="tituloBusqueda">
  
        <input [matAutocomplete]="auto2" (ngModelChange)="busquedaAlumno($event)" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar..."><button class="btnReset" (click)="btnLimpiar()">Limpiar</button>
        <mat-autocomplete  (change)="selectedAlumno()" #auto2="matAutocomplete">
            <mat-option (click)="selectedAlumno()" *ngFor="let alumno of arrayAlumnosResultados" [value]="alumno.alumnoCURP">
              {{alumno.alumnoNombre}} {{alumno.alumnoCURP}} {{alumno.alumnoFechaDeNacimiento}}
            </mat-option>
          </mat-autocomplete>
           
    </div>

    <div [ngStyle]="{'visibility': showTabs  ?  '' : 'hidden' }">
      
    <mat-tab-group mat-align-tabs="center" >
      <mat-tab label="Datos del alumno">
          <br>
          <div class="divImg">
            <img style="min-width: 100%; max-width: 100%; border-radius: 50%;" [src]="showImg">
            <img (click)="open(content2)" class="imgIconCamara" src="assets/images/camara_icon.png">

          </div>
          
   
          <div style="padding: 1%;" class="row">
          
                  <div class="divContenedor3">
                      <label class="labelForm3">Nombre(s):</label>  
                      <input placeholder="Nombre(s)" [(ngModel)]="alumno.alumnoNombre" class="inputForm3">  
                    </div>
                    <div class="divContenedor3">
                      <label class="labelForm3">Apellido Paterno:</label>  
                      <input placeholder="ApellidoPaterno" [(ngModel)]="alumno.alumnoApellidoPaterno" class="inputForm3">  
                    </div>
                    <div class="divContenedor3">
                      <label class="labelForm3">Apellido Materno:</label>  
                      <input placeholder="ApellidoMaterno" [(ngModel)]="alumno.alumnoApellidoMaterno" class="inputForm3">  
                    </div>
          
          </div>
          
          
          
          <div style="padding: 1%;"  class="row">
                
              <div class="divContenedor3">
                <label class="labelForm3">Fecha de Nacimiento: </label>  
                <input placeholder="Fecha de nacimiento" [(ngModel)]="alumno.alumnoFechaDeNacimiento" type="date" class="inputForm3" max="{{todaysdate|date:'yyyy-MM-dd'}}">  
              </div>
              <div class="divContenedor3">
                <label class="labelForm3">Sexo: </label>  
                <select [(ngModel)]="alumno.alumnoSexo" class="inputForm3">
                    <option value="">Selecciona</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                </select>  
              </div>
              <div class="divContenedor3">
                <label class="labelForm3">CURP: </label>  
                <input placeholder="CURP" style="text-transform:uppercase;" [(ngModel)]="alumno.alumnoCURP" [maxlength]="18" class="inputForm3">  
              </div>
             
            </div>
       
            <div style="padding: 1%;"  class="row">
              <div class="divContenedor3">
                <label class="labelForm3">Activar/Desactivar alumno: </label>  
                <mat-slide-toggle (change)="activarDesactivar()"  [(ngModel)]="alumno.isActive" ></mat-slide-toggle>
                
              </div>
              <div class="divContenedor3" >
                
              </div>
              <div class="divContenedor3" >
                <label class="labelForm3">Folio: </label>  
                <input placeholder="Folio" style="text-transform:uppercase;" [(ngModel)]="alumno.alumnoFolio" class="inputForm3">  
              </div>
           </div> 
           <br>
           <h1 style="margin-left: 1%;">
              Datos medicos
          </h1>
          <div class="row" style="padding: 1%;">
              <div class="divContenedor2">
                  <label class="labelForm2Medica">Afiliación médica: </label>  
              
                  
                  <select class="inputForm2Medica" [(ngModel)]="alumno.alumnoAfiliacionMedica" >
                    <option *ngFor="let afili of arrayAfiliacionesMedicas" [value]="afili">
                      {{afili}}
                    </option>
                  </select>  
                  
                  <br>
                  <br>
                  <label class="labelForm2Medica">Padecimientos: </label>  
                  <input placeholder="Padecimientos" [(ngModel)]="alumno.alumnoPadecimientos" class="inputForm2Medica">
                  <br>
                  <br>
                  <label class="labelForm2Medica">Tipo de sangre: </label>  
                  <select class="inputForm2Medica" [(ngModel)]="alumno.alumnoTipoDeSangre" >
                    <option *ngFor="let ts of arrayTipoSanguineo" [value]="ts">
                      {{ts}}
                    </option>
                  </select>  
                  
              </div>
              <div class="divContenedor2Medica">
                  <label class="labelForm2MedicaAlergias">Alergias: </label>  
                  <select class="inputForm2Medica" [(ngModel)]="alumno.alumnoAlergias" >
                    <option *ngFor="let alergia of arrayAlergiaMedica" [value]="alergia">
                      {{alergia}}
                    </option>
                  </select>  
                  <br>
                  <br>
                  <div class="row">
                     <div class="divContenedor2">
                      <label class="labelForm2">Estatura: </label>  
                      <input placeholder="1.70" type="number" [(ngModel)]="alumno.alumnoEstatura" class="inputForm2">
                     </div>
                     <div class="divContenedor2" style="text-align: center;">
                      <label  class="labelForm2">Peso: </label>  
                      <input placeholder="56.0" type="number" [(ngModel)]="alumno.alumnoPeso" class="inputForm2">
                     </div>
                  </div> 
                  <br>
                  <br>
              
              </div>
           </div> 
           
           <br>
           <h1 style="margin-left: 1%;">
              Datos de contacto
          </h1>
          
            
<div class="row" style="padding: 1%;">
  <div class="divContenedor3">
      <label class="labelForm3">Teléfono celular:</label>  
      <input placeholder="Teléfono celular" type="text" (focusout)="validaCelulcar()" (keypress)="numberOnly($event)"  [maxlength]="10" [(ngModel)]="alumno.alumnoTelefonoCelular" class="inputForm3">  
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Teléfono de casa:</label>  
      <input placeholder="Teléfono de casa" type="text" (keypress)="numberOnly($event)"  [maxlength]="10" [(ngModel)]="alumno.alumnoTelefonoCasa" class="inputForm3">  
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Correo:</label>  
      <input placeholder="Correo" (focusout)="validaCorreo()" type="email" [(ngModel)]="alumno.alumnoCorreoElectronico" class="inputForm3">  
    </div>
</div>


<div class="row" style="padding: 1%;">
  <div class="divContenedor2Redes">
      <label class="labelForm1">Redes sociales: </label>  
      <input placeholder="Redes sociales" [(ngModel)]="alumno.alumnoRedesSociales" class="inputForm1">
  </div>
</div> 

<div class="row" style="padding: 1%;">
  <div class="divContenedor3">
      <label class="labelForm3">Codigo postal:</label>  
      <input placeholder="Codigo postal" type="text" (keypress)="numberOnly($event)" [maxlength]="6" (change)="getInfoCp()" [(ngModel)]="alumno.alumnoCodigoPostal" class="inputForm3">  
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Estado:</label>  
      <input placeholder="Estado" [(ngModel)]="alumno.alumnoEstado" class="inputForm3">  
    </div>
    <div class="divContenedor3">
      <label class="labelForm3">Municipio:</label>  
      <input placeholder="Municipio" [(ngModel)]="alumno.alumnoMunicipio" class="inputForm3">  
    </div>
</div>

<div class="row" style="padding: 1%;">
  <div class="divContenedor2">
   <label class="labelForm2">Colonia: </label>  
   <input placeholder="Colonia" [(ngModel)]="alumno.alumnoColonia" class="inputForm2" [matAutocomplete]="auto">
   <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of arrayAsentamientos" [value]="option.nombre">
      {{option.nombre}}
    </mat-option>
  </mat-autocomplete>
   
   
  </div>
  <div class="divContenedor2" style="text-align: center;">
   <label class="labelForm2">Nùmero: </label>  
   <input placeholder="Número" [(ngModel)]="alumno.alumnoNumero" class="inputForm2">
  </div>
</div> 

<div class="row" style="padding: 1%;">
  <div class="divContenedor2">
      <label class="labelForm1">Calle: </label>  
      <input placeholder="Calle" [(ngModel)]="alumno.alumnoCalle" class="inputForm1">
  </div>
  <div class="divContenedor2" style="text-align: right;">
    <label class="labelForm1"></label>  
    <button style="max-width: 30%; margin-right: 5%;" (click)="updateAlumno()">Actualizar</button>
    <button style="max-width: 50%;" (click)="openPDF()">Generar QR</button>
</div>
  
</div> 
                            
      </mat-tab>
      <mat-tab label="Tutor / Contacto">
          <div style="padding: 1%;">
            <!-- formulario tutores-->
            
            <div class="divImg">
              <img style="min-width: 100%; max-width: 100%; border-radius: 50%;" [src]="showImgtutor">
              <img (click)="open(content3)" class="imgIconCamara" src="assets/images/camara_icon.png">
  
            </div>
            
            
            <div class="divBasica">
              
              <div class="row" style="padding: 1%;">
                <div class="divContenedor3">
          
                  <label class="labelForm3">Nombre</label>
                  <input placeholder="Nombre" class="inputForm3" [(ngModel)]="tutor.tutorNombre">
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Apellido paterno del tutor</label>
                  <input placeholder="Apellido paterrno" class="inputForm3" [(ngModel)]="tutor.tutorApellidoPaterno">
                </div>
                <div class="divContenedor3">
                  <label  class="labelForm3">Apellido materno del tutor</label>
                  <input placeholder="Apellido materno" class="inputForm3" [(ngModel)]="tutor.tutorApellidoMaterno">
                </div>
              </div> 
  
              <div class="row" style="padding: 1%;">
                <div class="divContenedor3">
          
                  <label class="labelForm3">Parentesco</label>
          
                  
                  <select class="inputForm2Medica" [(ngModel)]="tutor.tutorParentesco" >
                    <option *ngFor="let pariente of arrayParentesco" [value]="pariente">
                      {{pariente}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Teléfono de casa</label>
                  <input placeholder="Teléfono de casa" class="inputForm3" type="text" (keypress)="numberOnly($event)" [maxlength]="10" [(ngModel)]="tutor.tutorTelefonoCasa">
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Teléfono celular</label>
                  <input (focusout)="validaCelulcarT()" placeholder="Teléfono de celular" class="inputForm3" type="text" (keypress)="numberOnly($event)" [maxlength]="10" [(ngModel)]="tutor.tutorTelefonoCelular">
                </div>
              </div> 
              
              <div class="row" style="padding: 1%;">
                <div class="divContenedor3">
                  <label class="labelForm3">Correo electrónico</label>
                  <input placeholder="Correo electrónico" (focusout)="validaCorreoT()" class="inputForm3" [(ngModel)]="tutor.tutorCorreoElectronico">
                </div>
                <div class="divContenedor3">
          
                </div>
                <div class="divContenedor3">
              
                  <button (click)="btnguardartutor()">Guardar</button>
                  <button style="margin-left: 1%;" *ngIf="visibleCancelarTutor === 0" (click)="resetTutor()" >Cancelar</button>
                </div>
              </div> 
              
            </div>
            
            
            
          
              
              <div class="tableFixHead">
                  <table>
                      <colgroup>
                          <col span="1" style="width: 40%;">
                          <col span="1" style="width: 20%;">
                          <col span="1" style="width: 20%;">
                          <col span="1" style="width: 20%;">
                          
                          
                          
                       </colgroup>
                    <thead>
                      <tr>
                          <th>
                              Nombre
                          </th>
                          <th>
                            Parentesco
                          </th>
                          <th>
                            Acciones
                          </th>
                          <th>
                            Eliminar
                          </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let tut of arrayTutores; let i = index" >
                          <td>{{tut.tutorNombre}} {{tut.tutorApellidoPaterno}}  {{tut.tutorApellidoMaterno}}</td>
                          <td>{{tut.tutorParentesco}}</td>
                          <td><button (click)="getTutor(tut)">Editar</button></td>
                          <td><button (click)="deleteTutor(tut)">Eliminar</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>                                                                  
          </div>
      </mat-tab>
      <mat-tab label="Disciplinas">
          <div style="padding: 1%;">
           <!-- disciplinas crud -->
           
           <div *ngIf="showEditPlan === true">
           
           
              <div class="row" >
                  <div style="max-width: 10%; min-width: 10%;">
                       
                  </div>
               
           
                  <div  style="max-width: 40%; min-width: 40%;">
                    Actual
                  </div>
                  
                  <div  style="max-width: 40%; min-width: 40%;">
                    Nuevo
                  </div>
                  <div  style="max-width: 10%; min-width: 10%;">
                    Conservar
                  </div>
                 
                </div>
           
              <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
                  <div  style="max-width: 10%; min-width: 10%;">
                    Disciplina
                  </div>
                  <div  style="max-width: 40%; min-width: 40%;">
                    {{planHorarioEditar.disciplinaNombre}} 
                  </div>
                  <div   style="max-width: 40%; min-width: 40%;">
                   {{ planHorarioEditar.disciplinaNombre }}
                  </div>
                  <div  style="max-width: 10%; min-width: 10%;">
                    
                  </div>
                  
                  
                </div>
              <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
                <div  style="max-width: 10%; min-width: 10%;">
                  Plan
                </div>
                <div  style="max-width: 40%; min-width: 40%;">
                   {{planHorarioEditar.planDescripcion }}
                </div>
                <div  style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%;">
              
                  <select (change)="getHorarioBydisciplina()"  [(ngModel)]="planSelected"  class="inputForm3" >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let plan of arrayPlanesDisciplina" [value]="plan.planId">
                      {{plan.planDescripcion}} {{plan.planRecurrencia}} clases a la semana
                    </option>
                  </select>  
           
                </div>
                <div  style="max-width: 10%; min-width: 10%;">
                  
                </div>
              </div>
            <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;">
              <div  style="max-width: 10%; min-width: 10%;" >
                Lunes
              </div>
              <div style="max-width: 40%; min-width: 40%;">
              {{actualLunes}}
              </div>
              <div style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%;">
      
                  <select [disabled]="!enableLunes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioLunesSelected"  class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosLunes" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
           
               
              </div>
              <div style="max-width: 10%; min-width: 10%; text-align: center;">
                <mat-checkbox (change)="validarClasesPlan()" [(ngModel)]="conservarLunes" [disabled]="habilitarLunes" class="example-margin check" color="primary" ></mat-checkbox>
              </div>
          </div>
          <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
            <div style="max-width: 10%; min-width: 10%;">
              Martes
            </div>
            <div style="max-width: 40%; min-width: 40%;">
              {{actualMartes}}
            </div>
            <div style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%;">
           
                <select [disabled]="!enableMartes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMartesSelected"   class="inputForm3" >
                  <option value="0">Selecciona..</option> 
                  <option *ngFor="let horario of arrayHorariosMartes" [value]="horario.horarioId">
                    {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                  </option>
                </select> 
           
            </div>
            <div style="max-width: 10%; min-width: 10%; text-align: center;">
              <mat-checkbox (change)="validarClasesPlan()" [(ngModel)]="conservarMartes"  [disabled]="habilitarMartes" class="example-margin check" color="primary" ></mat-checkbox>
            </div> 
          </div>
           <div class="row"style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
            <div style="max-width: 10%; min-width: 10%;">
              Miercoles
            </div>
            <div style="max-width: 40%; min-width: 40%;">
              {{actualMiercoles}}
            </div>
            <div style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%;">
          
              <select [disabled]="!enableMiercoles" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMiercolesSelected"  class="inputForm3"  >
                <option value="0">Selecciona.</option> 
                <option *ngFor="let horario of arrayHorariosMiercoles" [value]="horario.horarioId">
                  {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                </option>
              </select>  
        
            </div>
            <div style="max-width: 10%; min-width: 10%; text-align: center;">
              <mat-checkbox (change)="validarClasesPlan()" [(ngModel)]="conservarMiercoles"  [disabled]="habilitarMiercoles" class="example-margin check" color="primary" ></mat-checkbox>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
            <div style="max-width: 10%; min-width: 10%;">
              Jueves
            </div>
            <div style="max-width: 40%; min-width: 40%;">
              {{actualJueves}}
            </div>
            <div style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%;">
       
              <select [disabled]="!enableJueves" (change)="validarClasesPlan()" [(ngModel)]="idHorarioJuevesSelected"  class="inputForm3"  >
                <option value="0">Selecciona..</option> 
                <option *ngFor="let horario of arrayHorariosJueves" [value]="horario.horarioId">
                  {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                </option>
              </select>  
          
            </div>
            <div style="max-width: 10%; min-width: 10%; text-align: center;">
              <mat-checkbox (change)="validarClasesPlan()" [(ngModel)]="conservarJueves"  [disabled]="habilitarJueves" class="example-margin check" color="primary" ></mat-checkbox>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
          <div  style="max-width: 10%; min-width: 10%;">
            Viernes
          </div>
          <div style="max-width: 40%; min-width: 40%;">
            {{actualViernes}}
          </div>
          <div style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%;">
        
              <select [disabled]="!enableViernes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioViernesSelected"  class="inputForm3"  >
                <option value="0">Selecciona..</option> 
                <option *ngFor="let horario of arrayHorariosViernes" [value]="horario.horarioId">
                  {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                </option>
              </select>  
           
          </div>
          <div style="max-width: 10%; min-width: 10%; text-align: center;">
            <mat-checkbox (change)="validarClasesPlan()" [(ngModel)]="conservarViernes"  [disabled]="habilitarViernes" class="example-margin check" color="primary" ></mat-checkbox>
          </div>
      </div>
        <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
          <div style="max-width: 10%; min-width: 10%;">
            Sabado
          </div>
          <div style="max-width: 40%; min-width: 40%;">
            {{actualSabado}}
          </div>
          <div style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%;">
      
              <select [disabled]="!enableSabado" (change)="validarClasesPlan()" [(ngModel)]="idHorarioSabadoSelected"  class="inputForm3"  >
                <option value="0">Selecciona..</option> 
                <option *ngFor="let horario of arrayHorariosSabado" [value]="horario.horarioId">
                  {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                </option>
              </select>  
   
          </div>
          <div style="max-width: 10%; min-width: 10%; text-align: center;">
            <mat-checkbox (change)="validarClasesPlan()" [(ngModel)]="conservarSabado"  [disabled]="habilitarSabado" class="example-margin check" color="primary" ></mat-checkbox>
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #777; padding-top: 1%; padding-bottom: 1%;" >
        <div style="max-width: 10%; min-width: 10%;">
        Domingo
        </div>
        <div style="max-width: 40%; min-width: 40%;">
          {{actualDomingo}}
        </div>
        <div style="max-width: 40%; min-width: 40%; padding-left: 1%; padding-right: 3%; ">
          <select [disabled]="!enableDomingo" (change)="validarClasesPlan()" [(ngModel)]="idHorarioDomingoSelected"   class="inputForm3" >
              <option value="0">Selecciona..</option> 
              <option *ngFor="let horario of arrayHorariosDomingo" [value]="horario.horarioId">
                {{horario.horarioNombre}}, {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
              </option>
            </select>  
        
        </div>
        <div style="max-width: 10%; min-width: 10%; text-align: center;">
          <mat-checkbox (change)="validarClasesPlan()" [(ngModel)]="conservarDomingo"  [disabled]="habilitarDomingo" class="example-margin check" color="primary" ></mat-checkbox>
        </div>
    </div>
         
    <div style="text-align: right;">
      <br>
      <button (click)="btnAgregarEditado()" >Guardar</button>
      <button (click)="btnCancelarEditar()" style="margin-left: 1%;">Cancelar</button>
      <br>
      <br>
    
    </div>      
    
           </div>           
           
           <div *ngIf="showEditPlan === false">
                  <div class="row" style="padding: 1%;">
                    <div class="divContenedor2">
                      <label class="labelForm2Medica">Disciplina: </label>  
                
                      
                      <select (change)="getPlanesByDisciplina()" class="inputForm2Medica" [(ngModel)]="disciplinaSelected" >
                        <option value="0">Selecciona..</option>
                        <option *ngFor="let disciplina of arrayDisciplinas" [value]="disciplina.disciplinaId">
                          {{disciplina.disciplinaNombre}}
                        </option>
                      </select>  
                  </div>
                  <div class="divContenedor2Medica">
                      <label class="labelForm2MedicaAlergias">Planes: </label> 
              
                      <select (change)="getHorarioBydisciplina()" class="inputForm2Medica" [(ngModel)]="planSelected" >
                        <option value="0">Selecciona..</option> 
                        <option *ngFor="let plan of arrayPlanesDisciplina" [value]="plan.planId">
                          {{plan.planDescripcion}} {{plan.planRecurrencia}} clases a la semana
                        </option>
                      </select>  
                  
                      
                  
                  </div>
              </div>
              <br>
              
              <div class="row" style="padding: 1%;">
                <div class="divContenedor3">
            
                  <label class="labelForm3">Lunes</label>
                  <select [disabled]="!enableLunes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioLunesSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosLunes" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Martes</label>
                  <select [disabled]="!enableMartes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMartesSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosMartes" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>    
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Miercoles</label>
                  <select [disabled]="!enableMiercoles" (change)="validarClasesPlan()" [(ngModel)]="idHorarioMiercolesSelected" class="inputForm3"  >
                    <option value="0">Selecciona.</option> 
                    <option *ngFor="let horario of arrayHorariosMiercoles" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
              </div> 
              <br>
              
              <div class="row" style="padding: 1%;">
                <div class="divContenedor3">
            
                  <label class="labelForm3">Jueves</label>
            
                  
                  <select [disabled]="!enableJueves" (change)="validarClasesPlan()" [(ngModel)]="idHorarioJuevesSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosJueves" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Viernes</label>
                  <select [disabled]="!enableViernes" (change)="validarClasesPlan()" [(ngModel)]="idHorarioViernesSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosViernes" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3">
                  <label class="labelForm3">Sabado</label>
                  <select [disabled]="!enableSabado" (change)="validarClasesPlan()" [(ngModel)]="idHorarioSabadoSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosSabado" [value]="horario.horarioId">
                      {{horario.horarioNombre}} {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
              </div> 
            
              
              
              <div class="row" style="padding: 1%;">
                <div class="divContenedor3">
            
                  <label class="labelForm3">Domingo</label>
            
                  
                  <select [disabled]="!enableDomingo" (change)="validarClasesPlan()" [(ngModel)]="idHorarioDomingoSelected" class="inputForm3"  >
                    <option value="0">Selecciona..</option> 
                    <option *ngFor="let horario of arrayHorariosDomingo" [value]="horario.horarioId">
                      {{horario.horarioNombre}}, {{horario.horarioInicio}} - {{horario.horarioFin}}- disponibilidad: {{horario.horarioDisponibilidad}}
                    </option>
                  </select>  
                </div>
                <div class="divContenedor3"></div>
                <div class="divContenedor3">
                  <div style="text-align: right;">
                    <label class="labelForm3"></label>
            
                    <button  (click)="btnAgregarDisciplina()"   mat-button >Agregar</button>
                  </div>    
                </div>
              </div>
           </div>
           
         
           <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                 </colgroup>
              <thead>
                <tr>
                    <th>
                      Plan
                    </th>
                 
             
                    <th>
                      Horario
                    </th>
                    
                    <th>
                      Importe
                    </th>
                    <th>
                      Edición
                    </th>
                    <th>
                      Eliminar
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr style="border-bottom: 1px solid #777;" *ngFor="let plan of arrayhorariosSelected; let i = index" >
                    <td >{{plan.planDescripcion}}</td>
                    <td>
                      <label *ngFor="let horario of plan.horario;">  
                        {{horario.horarioNombre}}<br> {{horario.horarioDias}} - {{horario.horarioInicio}}
                      
                      </label>    
                    </td>
                    <td>
                      {{plan.planImporte}}
                    </td>
                    <td ><button (click)="btnEditar(plan)">Editar</button></td>
                    <td ><button (click)="btnQuitarPlan(plan, i)" >Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
            
            
          <button (click)="pagarMensualidad(content)" >Pagar mensualidad</button>
          
          <button style="margin-left: 2%;" (click)="pagarOtrosServicios(content4)" >Pagar otros servicios</button>
            
          </div>
      </mat-tab>
    </mat-tab-group>    
    </div>
  </div>
    


    <br>
    <!-- <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla"></label>
            <input class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 34%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    
                    
                    
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre del alumno
                    </th>
                    <th>
                        
                        CURP
                    </th>
                 
                
                    <th>
                        
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let alumno of arrayAlumnos" >
                    <td >{{alumno.alumnoNombre}} {{alumno.alumnoApellidoPaterno}} {{alumno.alumnoApellidoMaterno}}</td>
                    <td >{{alumno.alumnoCURP}}</td>
                    <td > <button >Editar</button></td>
                    
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div> -->
    
    
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pagar Mensualidad</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal2()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <!---->
    
    <div class="row">
      <div style="max-width: 25%; min-width: 25%; padding: 1%;">
            <label>Disciplinas</label>
            <br>
            <div *ngFor="let plan of arrayhorariosSelected;">
              <label >{{plan.planDescripcion}}</label><br>
            </div>
            <br>
            <br>
            <label>Importe por recargo: {{importeMultas}} $</label><br>
            <label>saldo a favor: {{saldoFavor}} $</label><br>
            <label>Porcentaje de disciplinas: </label><input (change)="calcularPago()" [(ngModel)]="porcentajeDePago" type="number"  min="0" max="100" step="1">
            <label>Importe por disciplinas: </label>{{ importeDisciplinas }} $  * {{mesesPorPagar}}<br>
            <label>Anualidad: </label>{{ importeInscripcion }} $<br>
            <label>Porcentaje de anualidad: </label><input (change)="calcularPago()" [(ngModel)]="porcentajeAnualidad" type="number"  min="0" max="100" step="1">
            <label>subtotal: </label>{{ subTotal }} $<br>
            <br>
            Total:  {{ pagoTotal }} $ 
      </div>
      
      <div style="max-width: 75%; min-width: 75%; padding: 1%;">
        <label style="min-width: 20%;">Fecha de ultimo pago: {{fechaUltimoPago}}</label>
        <label style="margin-left: 10%;min-width: 20%;">Días atrasados: {{diasAtrasados}}</label>
        <label style="min-width: 20%;">Fecha estimada de pago: {{fechaProxima}}</label>
        <br>
        <label><strong>Registrar parcialidades de pagos</strong></label>
 
        
        <br>
        parcialidad 1 <br>
        
        <div class="row"> 
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Tipo de pago:<br>
            <select [(ngModel)]="tipoParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Transferencia Electrónica">Transferencia</option>
              <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
              <option value="Tarjeta de Débito">Tarjeta de débito</option>
              <option value="Depósito Bancaria">Depósito bancario</option>
            </select>
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Importe<br>
            <input style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" (change)="calcularPagoParcialidades()" [(ngModel)]="montoParcialidad1"  placeholder="Monto" >  
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Folio<br>
            <input [(ngModel)]="folioParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >

          </div>
        </div>
        <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Fecha de pago<br>
            <input [(ngModel)]="fechaPagoParcialidad1" type="date" max="{{todaysdate|date:'yyyy-MM-dd'}}" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Cuenta beneficiaria<br>
            <input [(ngModel)]="cuentaParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Cuenta beneficiaria" >            
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Concepto de pago<br>
            <!-- <input [(ngModel)]="conceptoParcialidad1" > -->
            <select  [(ngModel)]="conceptoParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Mensualidad" selected>
                Mensualidad
              </option>
   
              <option value="Inscripción">
                Inscripción 
              </option>
              <option value="Reinscripción" >
                Reinscripción
              </option>
              <option value="Recargo" >
                Recargo
              </option>
              
            </select>
            
            
          </div>
          
        </div>
        <div>
          <div style="max-width: 96%; min-width: 96%; margin-left: 2%; padding: 3px;">
            Comentarios<br>
            <textarea [(ngModel)]="comentariosParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Comentarios" ></textarea>
          </div>
        </div>

        <hr >
        parcialidad 2 <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Tipo de pago:<br>
            <select [(ngModel)]="tipoParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;">
              <option value="Transferencia Electrónica">Transferencia</option>
              <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
              <option value="Tarjeta de Débito">Tarjeta de débito</option>
              <option value="Depósito Bancaria">Depósito Bancario</option>
            </select>
          </div>
          <div  style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Importe<br>
            <input (change)="calcularPagoParcialidades()" [(ngModel)]="montoParcialidad2"  style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Monto" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Folio<br>
            <input [(ngModel)]="folioParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >

          </div>
        </div>

        <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Fecha de pago<br>
            <input [(ngModel)]="fechaPagoParcialidad2" type="date"  max="{{todaysdate|date:'yyyy-MM-dd'}}" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Cuenta beneficiaria<br>
            <input [(ngModel)]="cuentaParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Cuenta beneficiaria" >            
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Concepto de pago<br>
            <!-- <input [(ngModel)]="conceptoParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Concepto" > -->
            <select [(ngModel)]="conceptoParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Mensualidad" selected>
                Mensualidad
              </option>
              <option value="Inscripción">
                Inscripción 
              </option>
              <option value="Reinscripción" >
                Reinscripción
              </option>
              <option value="Recargo" >
                Recargo
              </option>
            </select>
          </div>
          
        </div>
        
        <div>
          <div style="max-width: 96%; min-width: 96%; margin-left: 2%; padding: 3px;">
            Comentarios<br>
            <textarea [(ngModel)]="comentariosParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Comentarios" ></textarea>
          </div>
        </div>
    

        <hr>
        parcialidad 3<br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Tipo de pago:<br>
            <select [(ngModel)]="tipoParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;">
              <option value="Transferencia Electrónica">Transferencia</option>
              <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
              <option value="Tarjeta de Débito">Tarjeta de débito</option>
              <option value="Depósito Bancaria">Depósito Bancario</option>
            </select>
          </div>
          <div  style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Importe<br>
            <input (change)="calcularPagoParcialidades()" [(ngModel)]="montoParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px; margin-left: 2%;" placeholder="Monto" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Folio<br>
            <input [(ngModel)]="folioParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px; margin-left: 2%;" placeholder="Folio" >

          </div>
          
        </div>
   
        <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Fecha de pago<br>
            <input [(ngModel)]="fechaPagoParcialidad3" type="date" max="{{todaysdate|date:'yyyy-MM-dd'}}" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Cuenta beneficiaria<br>
            <input [(ngModel)]="cuentaParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Cuenta beneficiaria" >            
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Concepto de pago<br>
            <!-- <input [(ngModel)]="conceptoParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Concepto de pago" > -->
            <select  [(ngModel)]="conceptoParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Mensualidad" selected>
                Mensualidad 
              </option>
              <option value="Inscripción">
                Inscripción 
              </option>
              <option value="Reinscripción" >
                Reinscripción
              </option>
              <option value="Recargo" >
                Recargo
              </option>
              
            </select>
          </div>
          
        </div>
        <div>
          <div style="max-width: 96%; min-width: 96%; margin-left: 2%; padding: 3px;">
            Comentarios<br>
            <textarea [(ngModel)]="comentariosParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Comentarios" ></textarea>
          </div>
        </div>
        
        

        <br>
        
        <div style="text-align: center; min-width: 100%; max-width: 100%;">
          <h1>Saldo faltante: {{montoFaltante}}</h1><br>
          <button (click)="getMensualidadesAlumno()">Calcular</button>
        </div>
        
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="guardarMensualidd()"  [ngStyle]="{'background-color': !habilitarButtonMensualidad  ?  'lawngreen' : 'red' }" class="btn btn-outline-dark" [disabled]="habilitarButtonMensualidad"  >Guardar</button>

    <button type="button" (click)="closeModal2()" class="btn btn-outline-dark">Cancelar</button>
  </div>
</ng-template>

<div style="text-align:center;  position: absolute; left: 26.1%; top: 47%;z-index:-10000;">
  <ngx-qrcode 
    id="qrcode"
    [value] = "value"
    cssClass = "aclass"
  >
</ngx-qrcode>
</div>

<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tomar foto!</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<select (change)="cambioCamara(video)" [(ngModel)]="idCamara">
  <option  *ngFor="let device of arrayCamaras" [value]="device.deviceId"  [selected]="idCamara === device.deviceId" >
    {{device.label}} 
  </option>
</select>

<button (click)="iniciarCamara(video)">iniciar camara</button>
<div style="text-align: center;">
  <video [ngStyle]="{'display': isCaptured ===  false ? 'inline' : 'none' }" name="video" #video id="video" width="500" height="500" autoplay></video>
</div>
<div style="text-align: center;">
  <canvas [ngStyle]="{'display': isCaptured === true ? 'inline' : 'none' }" #canvas id="canvas" width="500" height="500"></canvas>
</div>  


<div style="text-align: center;">
  <button (click)="capture(canvas,video)">tomar foto</button>
<button (click)="tomarOtra()">Tomar otra</button>
</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="btnGuardarfoto()">Guardar</button>

    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancelar</button>
  </div>
</ng-template>


<ng-template #content3 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tomar foto!</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<select (change)="cambioCamara(video)" [(ngModel)]="idCamara">
  <option  *ngFor="let device of arrayCamaras" [value]="device.deviceId"  [selected]="idCamara === device.deviceId" >
    {{device.label}} 
  </option>
</select>

<button (click)="iniciarCamara(video2)">iniciar camara</button>
<div style="text-align: center;">
  <video [ngStyle]="{'display': isCaptured ===  false ? 'inline' : 'none' }" name="video" #video2 id="video" width="500" height="500" autoplay></video>
</div>
<div style="text-align: center;">
  <canvas [ngStyle]="{'display': isCaptured === true ? 'inline' : 'none' }" #canvas2 id="canvas" width="500" height="500"></canvas>
</div>  


<div style="text-align: center;">
  <button (click)="capture2(canvas2,video2)">tomar foto</button>
<button (click)="tomarOtra2()">Tomar otra</button>
</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="btnGuardarfoto2()">Guardar</button>

    <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancelar</button>
  </div>
</ng-template>





<!--Modal de otros compectos-->



<ng-template #content4 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pagos de otros servicios</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal2()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <!---->
    
    <div class="row">

      
      <div style="max-width: 100%; min-width: 100%; padding: 1%;">

        
        <label>Saldo a favor: {{saldoFavor}}</label>
        <br>
        <label><strong>Registrar parcialidades de pagos</strong></label>
 
        
        <br>
        parcialidad 1 <br>
        
        <div class="row"> 
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Tipo de pago:<br>
            <select (change)="changedSaldoAfavor()"  [(ngModel)]="tipoParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Transferencia Electrónica">Transferencia</option>
              <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
              <option value="Tarjeta de Débito">Tarjeta de débito</option>
              <option value="Depósito Bancaria">Depósito Bancario</option>
              <option value="Saldo a favor">Tomar de saldo a favor</option>
            </select>
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Importe a cobrar:<br>
            <input (change)="calcularPagoParcialidades2()" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;"  [(ngModel)]="importeCobrar"  placeholder="Monto" type="number" >  
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Importe depositado:<br>
            <input (change)="calcularPagoParcialidades2()" [(ngModel)]="montoParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Importe depositado" >
          </div>
        </div>
        <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Folio<br>
            <input  [disabled]="tipoParcialidad1 == 'Saldo a favor'" [(ngModel)]="folioParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Fecha de pago<br>
            <input [(ngModel)]="fechaPagoParcialidad1" type="date" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" max="{{todaysdate|date:'yyyy-MM-dd'}}">
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Cuenta beneficiaria<br>
            <input   [disabled]="tipoParcialidad1 == 'Saldo a favor'"  [(ngModel)]="cuentaParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Cuenta beneficiaria" >            
          </div>
          
        </div>
        <div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Concepto de pago<br>

            <select [(ngModel)]="conceptoParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Reposición">
                Reposición
              </option>
              <option value="Cambio de horario">
                Cambio de horario
              </option>
              <option value="Cambio de día">
                Cambio de día
              </option>
              <option value="Cambio de disciplina">
                Cambio de disciplina
              </option>
            </select>

          </div>
        </div>
        
        
        
        <div>
          <div style="max-width: 96%; min-width: 96%; margin-left: 2%; padding: 3px;">
            Comentarios<br>
            <textarea [(ngModel)]="comentariosParcialidad1" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Comentarios" ></textarea>
          </div>
        </div>

        <hr >
        <!-- parcialidad 2 <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Tipo de pago:<br>
            <select [(ngModel)]="tipoParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;">
              <option value="Transferencia Electrónica">Transferencia</option>
              <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
              <option value="Tarjeta de Débito">Tarjeta de débito</option>
              <option value="Depósito Bancaria">Depósito Bancario</option>
            </select>
          </div>
          <div  style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Importe<br>
            <input (change)="calcularPagoParcialidades2()" [(ngModel)]="montoParcialidad2"  style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Monto" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Folio<br>
            <input [(ngModel)]="folioParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >

          </div>
        </div>

        <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Fecha de pago<br>
            <input [(ngModel)]="fechaPagoParcialidad2" type="date"  style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Cuenta beneficiaria<br>
            <input [(ngModel)]="cuentaParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Cuenta beneficiaria" >            
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Concepto de pago<br>
            <select [(ngModel)]="conceptoParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Reposición">
                Reposición
              </option>
              <option value="Cambio de horario">
                Cambio de horario
              </option>
              <option value="Cambio de día">
                Cambio de día
              </option>
              <option value="Cambio de disciplina">
                Cambio de disciplina
              </option>
            </select>
          </div>
          
        </div>
        
        <div>
          <div style="max-width: 96%; min-width: 96%; margin-left: 2%; padding: 3px;">
            Comentarios<br>
            <textarea [(ngModel)]="comentariosParcialidad2" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Comentarios" ></textarea>
          </div>
        </div>
    

        <hr>
        parcialidad 3<br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Tipo de pago:<br>
            <select [(ngModel)]="tipoParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;">
              <option value="Transferencia Electrónica">Transferencia</option>
              <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
              <option value="Tarjeta de Débito">Tarjeta de débito</option>
              <option value="Depósito Bancaria">Depósito Bancario</option>
            </select>
          </div>
          <div  style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Importe<br>
            <input (change)="calcularPagoParcialidades2()"  [(ngModel)]="montoParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px; margin-left: 2%;" placeholder="Monto" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Folio<br>
            <input [(ngModel)]="folioParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px; margin-left: 2%;" placeholder="Folio" >

          </div>
          
        </div>
   
        <br>
        <div class="row">
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Fecha de pago<br>
            <input [(ngModel)]="fechaPagoParcialidad3" type="date"  style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Folio" >
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Cuenta beneficiaria<br>
            <input [(ngModel)]="cuentaParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Cuenta beneficiaria" >            
          </div>
          <div style="max-width: 30%; min-width: 30%; margin-left: 2%; padding: 3px;">
            Concepto de pago<br>
            <select  [(ngModel)]="conceptoParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" >
              <option value="Reposición">
                Reposición
              </option>
              <option value="Cambio de horario">
                Cambio de horario
              </option>
              <option value="Cambio de día">
                Cambio de día
              </option>
              <option value="Cambio de disciplina">
                Cambio de disciplina
              </option>
            </select>


          </div>
          
        </div> 
        <div>
          <div style="max-width: 96%; min-width: 96%; margin-left: 2%; padding: 3px;">
            Comentarios<br>
            <textarea [(ngModel)]="comentariosParcialidad3" style="border-radius: 10px; border: 1px solid black; max-width: 100%; min-width: 100%; padding: 3px;" placeholder="Comentarios" ></textarea>
          </div>
        </div>
        -->
        <div style="text-align: center; min-width: 100%; max-width: 100%;">
          <h1>Total: {{montoFaltante}}</h1><br>
      
        </div>
        
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="guardarMensualidadConcepto()"   class="btn btn-outline-dark"  >Guardar</button>

    <button type="button" (click)="closeModal2()" class="btn btn-outline-dark">Cancelar</button>
  </div>
</ng-template>