<app-menu [usrData]="permisos"></app-menu>
<div class="divGimnacio">
    <h1 class="h1titulo">Gimnasios</h1>
    <div class="divFormulario">
           
        <label class="tituloFormulario">Nuevo gimnasio</label>
        <br>
        <div style="padding: 3%;">
            <div class="row" >
                <div class="divContenedor3">
                    <label class="labelForm3">Nombre del gimnasio:</label>  
                    <input placeholder="Nombre del gimnasio" [(ngModel)]="gimnasio.gimnasioNombre" class="inputForm3" >  
                  </div>  
            </div>
            <br>
            <div class="row" >
                  <div class="divContenedor3"></div>
                  <div class="divContenedor3"></div>
                  <div class="divContenedor3" style="text-align: right;">
                    <label class="labelForm3"> </label>  
                    <label ><button (click)="setGimnasio()" >Guardar</button></label>
                    <label ><button (click)="btnCancelar()" *ngIf="visibleCancelar === 0"  class="btnCancelar" >Cancelar</button></label>
                  </div>
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="divContainerTable">
   
        <div class="tituloBusqueda">
            <label class="tituloTabla">Gimnasios</label>
            <input  (ngModelChange)="buscarGimnasio()" [(ngModel)]="strBusqueda" class="inputBusqueda" placeholder="Buscar...">
        </div>

       <div>
        
        
        <div class="tableFixHead">
            <table>
                <colgroup>
                    <col span="1" style="width: 34%;">
                    <col span="1" style="width: 22%;">
                    <col span="1" style="width: 22%;">
                    <col span="1" style="width: 22%;">
                    
                    
                 </colgroup>
              <thead>
                <tr>
                    <th>
                        Nombre del gimnasio
                    </th>
                 
                
              
                    <th>
                        Estatus
                    </th>
                    <th>
                        Acciones
                    </th>
                    <th>
                        Activar
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let gimnasio of arrayGimnasioShow" >
                    <td >{{gimnasio.gimnasioNombre}}</td>
                    <td >{{gimnasio.gimnasioActivo}}</td>
                    <td > <button (click)="btnEditar(gimnasio)">Editar</button></td>
              
                    <td ><mat-slide-toggle (change)="activarDesactivar(gimnasio)" [(ngModel)]="gimnasio.isActive"></mat-slide-toggle></td>
                </tr>
              </tbody>
            </table>
          </div>
       </div>
   </div>
    
    
</div>